@charset "UTF-8";
.select2-container--adwitt .select2-selection--single,
.select2-container--adwitt-time .select2-selection--single {
  border: 1px solid #c6c6c6;
  height: 25px;
  background-color: #fff;
}
.select2-container--adwitt .select2-selection--single .select2-selection__rendered,
.select2-container--adwitt-time .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_select-3b5998-9x6.png);
  display: inline-block;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 9px;
}
.select2-container--adwitt .select2-dropdown,
.select2-container--adwitt-time .select2-dropdown {
  border-radius: 0;
}
.select2-container--adwitt.select2-container--open .select2-selection__rendered,
.select2-container--adwitt-time.select2-container--open .select2-selection__rendered {
  background-color: #3b5998;
  color: #fff;
  outline: 0 none;
}
.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_select-ffffff-9x6.png);
}
.select2-container--adwitt .select2-results__option[aria-selected=true],
.select2-container--adwitt-time .select2-results__option[aria-selected=true] {
  background-color: #fff;
}
.select2-container--adwitt .select2-results__option--highlighted[aria-selected],
.select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
  color: #404040;
}
.select2-container--adwitt .select2-results > .select2-results__options,
.select2-container--adwitt-time .select2-results > .select2-results__options {
  max-height: 199px;
  position: relative;
}
.select2-container--adwitt .select2-results > .select2-results__options .select2-results__option,
.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 6px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.select2-container--adwitt .select2-results > .select2-results__options li,
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 1px solid #c1c1c1;
}
.select2-container--adwitt .select2-results > .select2-results__options li:nth-last-of-type(1),
.select2-container--adwitt-time .select2-results > .select2-results__options li:nth-last-of-type(1) {
  border-bottom: 0 none;
}

.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 25px;
  padding: 0 12px 0 6px;
}
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 0 none;
}

.select2-container--disabled .select2-selection--single {
  background-color: #eeeeee;
  cursor: default;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container > .ps-scrollbar-y-rail {
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
  right: 0;
  width: 12px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 0.4;
  right: 2px;
  width: 8px;
}
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #fff;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}

.tooltipster-base {
  border-radius: 5px;
}
.tooltipster-base .tooltipster-content {
  font-size: 12px;
  padding: 10px;
}

.tooltipster-attention {
  background-color: #97b3ef;
}
.tooltipster-attention .tooltipster-content {
  line-height: 12px;
  color: #fff;
}

.tooltipster-info {
  background-color: #404040;
}
.tooltipster-info .tooltipster-content {
  line-height: 18px;
  color: #fff;
}

html,
body,
#wrap {
  height: 100%;
}

body > #wrap {
  height: auto;
  min-height: 100%;
}

body {
  font-size: 12px;
}

body,
button,
input,
textarea {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

.wrap {
  min-width: 1440px;
  background-color: #e7e7e7;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
  padding: 0 8px;
  line-height: 23px;
  background-color: #fff;
}
input[type='text'][data-type="date"],
input[type='password'][data-type="date"],
input[type='number'][data-type="date"] {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-calendar.png);
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  padding-right: 22px;
}
input[type='text'][data-type="time"],
input[type='password'][data-type="time"],
input[type='number'][data-type="time"] {
  width: 32px;
}

button {
  cursor: pointer;
  padding: 0;
}

.popup-creative {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  z-index: 100;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1060px;
}
.popup-creative .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-creative .popup-header h5 {
  color: #fff;
  font-size: 15px;
  line-height: 45px;
  padding: 0 20px;
}
.popup-creative .popup-container {
  padding: 30px 15px;
}
.popup-creative .popup-footer {
  border-top: 2px solid #3b5998;
  padding-top: 30px;
  text-align: center;
}
.popup-creative .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-creative .btn-popup-close {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png);
  display: block;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 38px;
  text-indent: -9999px;
  top: 37px;
  width: 13px;
}
.popup-creative ::-webkit-scrollbar {
  width: 8px;
}
.popup-creative ::-webkit-scrollbar-thumb {
  background-color: #adb9d4;
  border-radius: 6px;
}
.popup-creative ::-webkit-scrollbar-thumb:hover {
  background-color: #3b5998;
}
.popup-creative ::-webkit-scrollbar-track {
  background-color: white;
}
.popup-creative .popup-content__title {
  position: relative;
  margin-bottom: 5px;
  line-height: 23px;
}
.popup-creative .popup-content__title strong {
  font-size: 15px;
  color: #3b5998;
  font-weight: 400;
  margin-right: 8px;
}
.popup-creative .popup-content {
  margin-top: 23px;
}
.popup-creative .popup-content:first-child {
  margin-top: 0;
}
.popup-creative .popup-footer .btn-ok {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3b5998;
  border-radius: 11.5px;
  color: #fff;
  font-size: 15px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
.popup-creative .popup-footer .btn-cancel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ababab;
  border-radius: 11.5px;
  color: #fff;
  font-size: 15px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
.popup-creative .button__box {
  position: absolute;
  right: 0;
  top: 0;
}
.popup-creative .button__box .btn-file-upload {
  width: 115px;
  height: 23px;
  background: url(http://file.adwitt.tw/images_v1/button/btn-file-upload.png) no-repeat 50% 50% #404040;
  border-radius: 12px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-creative .button__box .btn-ok {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3b5998;
  border-radius: 11.5px;
  color: #fff;
  font-size: 12px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
  width: 55px;
}
.popup-creative .button__box input[type="file"] {
  display: none;
}
.popup-creative .tab-menu {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  margin-bottom: 10px;
}
.popup-creative .tab-menu li {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 1px;
  width: 69px;
}
.popup-creative .tab-menu li:first-child {
  margin-left: 0;
}
.popup-creative .tab-menu a {
  background-color: #e4e4e4;
  border-radius: 5px 5px 0 0;
  color: #3b5998;
  display: block;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}
.popup-creative .tab-menu .active a {
  background-color: #3b5998;
  color: #fff;
}
.popup-creative .text__article .text__box textarea,
.popup-creative .description__article .text__box textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  resize: none;
  border: 1px solid #c6c6c6;
  padding: 10px;
}
.popup-creative .video-thumbnails__box {
  font-size: 0;
}
.popup-creative .video-thumbnails__box ul {
  margin-left: -9px;
}
.popup-creative .video-thumbnails__box li {
  background-color: #f1f1f1;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 56px;
  width: 80px;
  margin-left: 9px;
  cursor: pointer;
}
.popup-creative .video-thumbnails__box li img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.popup-creative .video-thumbnails__box li.active {
  outline: 3px solid #3b5998;
}
.popup-creative .video-thumbnails__box li.custom-image {
  border: 3px solid #e4e4e4;
  background: url(http://file.adwitt.tw/images_v1/bg/bg-add.png) no-repeat 50% 50% #fff;
}
.popup-creative .image__box,
.popup-creative .video__box {
  font-size: 0;
  border: 1px solid #c6c6c6;
  padding: 10px;
  max-height: 200px;
  position: relative;
  overflow: auto;
}
.popup-creative .image__box ul,
.popup-creative .video__box ul {
  margin: -10px 0 0 -10px;
}
.popup-creative .image__box li,
.popup-creative .video__box li {
  background-color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 10px 0 0 10px;
  vertical-align: top;
  position: relative;
}
.popup-creative .image__box li .image,
.popup-creative .video__box li .image {
  height: 68px;
  overflow: hidden;
  position: relative;
  width: 85px;
}
.popup-creative .image__box li .image img,
.popup-creative .video__box li .image img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}
.popup-creative .image__box li .text-image-desc,
.popup-creative .video__box li .text-image-desc {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  background-color: #ebebeb;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  width: 85px;
}
.popup-creative .image__box li .text-number-ordered,
.popup-creative .video__box li .text-number-ordered {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #3b5998;
  background-color: #fff;
}
.popup-creative .image__box li.active:before,
.popup-creative .video__box li.active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 84, 144, 0.2);
}
.popup-creative .title__box input[type="text"] {
  width: 100%;
}
.popup-creative .offer__article .offer__table th {
  color: #3b5998;
  font-size: 15px;
  text-align: left;
}
.popup-creative .offer__article .offer__table .top__table {
  width: 100%;
}
.popup-creative .offer__article .offer__table .top__table tr {
  display: block;
  font-size: 0;
}
.popup-creative .offer__article .offer__table .top__table th, .popup-creative .offer__article .offer__table .top__table td {
  display: inline-block;
}
.popup-creative .offer__article .offer__table .top__table th {
  vertical-align: middle;
}
.popup-creative .offer__article .offer__table .top__table th:nth-child(1) {
  width: 95px;
}
.popup-creative .offer__article .offer__table .top__table th:nth-child(3) {
  width: 60px;
}
.popup-creative .offer__article .offer__table .top__table th:nth-child(5) {
  width: 80px;
}
.popup-creative .offer__article .offer__table .top__table td {
  padding-right: 5px;
  font-size: 12px;
}
.popup-creative .offer__article .offer__table .top__table td:nth-child(6) {
  padding-right: 0;
}
.popup-creative .offer__article .offer__table .top__table td label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  line-height: 25px;
  height: 25px;
}
.popup-creative .offer__article .offer__table .top__table td label:nth-of-type(1) {
  margin-left: 0;
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox'],
.popup-creative .offer__article .offer__table .top__table td input[type='radio'] {
  display: none;
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox']:checked + label:after,
.popup-creative .offer__article .offer__table .top__table td input[type='radio']:checked + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png);
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox']:disabled + label:after,
.popup-creative .offer__article .offer__table .top__table td input[type='radio']:disabled + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png);
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox'] + label,
.popup-creative .offer__article .offer__table .top__table td input[type='radio'] + label {
  position: relative;
  padding-left: 16px;
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox'] + label:before,
.popup-creative .offer__article .offer__table .top__table td input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  vertical-align: top;
  margin-top: -7px;
  left: 0;
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox'] + label:after,
.popup-creative .offer__article .offer__table .top__table td input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 7px;
}
.popup-creative .offer__article .offer__table .top__table td input[type='checkbox'] + label:before {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png);
  height: 11px;
  width: 11px;
}
.popup-creative .offer__article .offer__table .top__table td input[type='radio'] + label:before {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png);
  height: 13px;
  width: 13px;
}
.popup-creative .offer__article .offer__table .top__table td input[data-type="date"] {
  width: 200px;
}
.popup-creative .offer__article .offer__table .top__table td:nth-child(6) input[type="text"] {
  width: 183px;
}
.popup-creative .offer__article .offer__table .bot__table {
  width: 100%;
  margin-top: 10px;
}
.popup-creative .offer__article .offer__table .bot__table th {
  text-align: left;
  line-height: 25px;
}
.popup-creative .offer__article .offer__table .bot__table .terms-conditions__tr {
  display: block;
}
.popup-creative .offer__article .offer__table .bot__table .terms-conditions__tr th, .popup-creative .offer__article .offer__table .bot__table .terms-conditions__tr td {
  display: block;
}
.popup-creative .offer__article .offer__table .bot__table .terms-conditions__tr td input[type="text"] {
  width: 100%;
}
.popup-creative .offer__article .offer__table .bot__table .redemption-url__tr,
.popup-creative .offer__article .offer__table .bot__table .redemption-code__tr {
  display: inline-block;
  vertical-align: middle;
  width: 490px;
}
.popup-creative .offer__article .offer__table .bot__table .redemption-url__tr th, .popup-creative .offer__article .offer__table .bot__table .redemption-url__tr td,
.popup-creative .offer__article .offer__table .bot__table .redemption-code__tr th,
.popup-creative .offer__article .offer__table .bot__table .redemption-code__tr td {
  width: 100%;
  display: block;
}
.popup-creative .offer__article .offer__table .bot__table .redemption-url__tr td input[type="text"],
.popup-creative .offer__article .offer__table .bot__table .redemption-code__tr td input[type="text"] {
  width: 100%;
}
.popup-creative .offer__article .offer__table .bot__table .redemption-url__tr {
  float: left;
}
.popup-creative .offer__article .offer__table .bot__table .redemption-code__tr {
  float: right;
}
.popup-creative .popup-creative-table__article table {
  width: 100%;
}
.popup-creative .popup-creative-table__article th {
  width: 140px;
  text-align: left;
  vertical-align: top;
  color: #3b5998;
  font-size: 15px;
  padding-top: 6px;
}
.popup-creative .popup-creative-table__article th .text-optional {
  font-size: 13px;
  vertical-align: top;
}
.popup-creative .popup-creative-table__article td {
  padding-bottom: 10px;
}
.popup-creative .popup-creative-table__article td input[type="text"] {
  width: 600px;
  margin-right: 10px;
}
.popup-creative .tracking__article label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  line-height: 25px;
  height: 25px;
}
.popup-creative .tracking__article label:nth-of-type(1) {
  margin-left: 0;
}
.popup-creative .tracking__article input[type='checkbox'],
.popup-creative .tracking__article input[type='radio'] {
  display: none;
}
.popup-creative .tracking__article input[type='checkbox']:checked + label:after,
.popup-creative .tracking__article input[type='radio']:checked + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png);
}
.popup-creative .tracking__article input[type='checkbox']:disabled + label:after,
.popup-creative .tracking__article input[type='radio']:disabled + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png);
}
.popup-creative .tracking__article input[type='checkbox'] + label,
.popup-creative .tracking__article input[type='radio'] + label {
  position: relative;
  padding-left: 16px;
}
.popup-creative .tracking__article input[type='checkbox'] + label:before,
.popup-creative .tracking__article input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  vertical-align: top;
  margin-top: -7px;
  left: 0;
}
.popup-creative .tracking__article input[type='checkbox'] + label:after,
.popup-creative .tracking__article input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 7px;
}
.popup-creative .tracking__article input[type='checkbox'] + label:before {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png);
  height: 11px;
  width: 11px;
}
.popup-creative .tracking__article input[type='radio'] + label:before {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png);
  height: 13px;
  width: 13px;
}
.popup-creative .tracking__article .tracking__table {
  padding: 20px 25px;
}
.popup-creative .tracking__article .tracking__table table {
  width: 100%;
}
.popup-creative .tracking__article .tracking__table th,
.popup-creative .tracking__article .tracking__table td {
  display: inline-block;
}
.popup-creative .tracking__article .tracking__table th {
  vertical-align: top;
  color: #3b5998;
  font-size: 15px;
  text-align: left;
  padding-top: 6px;
  width: 250px;
}
.popup-creative .tracking__article .tracking__table td {
  padding-bottom: 10px;
}
.popup-creative .tracking__article[data-adtype="14"] .tracking__table {
  padding: 0;
}
.popup-creative .tracking__article[data-adtype="14"] .tracking__table th {
  width: 140px;
}
.popup-creative .tracking__article[data-adtype="14"] .tracking__table .mobile-tracking__tr th {
  width: 250px;
}
.popup-creative .tracking__article .tracking-title {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f1f1f1;
  color: #404040;
  line-height: 25px;
  height: 25px;
  font-size: 15px;
  width: 100%;
  padding-left: 7px;
  cursor: pointer;
}
.popup-creative .tracking__article .tracking-title:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  margin-right: 5px;
}
.popup-creative .tracking__article .tracking-title[data-state="fold"]:before {
  content: '\f055';
}
.popup-creative .tracking__article .tracking-title[data-state="unfold"] {
  color: #3b5998;
}
.popup-creative .tracking__article .tracking-title[data-state="unfold"]:before {
  content: '\f056';
}
.popup-creative .tracking__article .tracking-title[data-state="check"] {
  color: #3b5998;
}
.popup-creative .tracking__article .tracking-title[data-state="check"]:before {
  content: '\f058';
}
.popup-creative .tracking__article .custom-pixel .notice {
  line-height: 20px;
  margin-bottom: 5px;
}
.popup-creative .tracking__article .select-pixels-list .select-pixels {
  margin-top: 5px;
}
.popup-creative .tracking__article .select-pixels {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 25px;
  background: #f0f0f0;
  position: relative;
  width: 360px;
}
.popup-creative .tracking__article .select-pixels button {
  width: 11px;
  height: 11px;
  background-image: url(http://file.adwitt.com/images_v1/button/btn-remove_000000_11x11.png);
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 8px;
  margin-left: 4px;
}
.popup-creative .tracking__article .select-pixels .select-option {
  float: right;
}
.popup-creative .tracking__article .select-pixels .select-option strong {
  font-size: 11px;
  padding-right: 9px;
}
.popup-creative .tracking__article .select-pixels .select-text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  vertical-align: middle;
  color: #404040;
  display: inline-block;
  width: 265px;
}
.popup-creative .tracking__article .select-pixels .fa-info-circle {
  position: absolute;
  right: -15px;
  top: 6px;
}
.popup-creative .tracking__article .select-pixels._hasbtn .select-text {
  width: 245px;
}
.popup-creative .tracking__article .select-pixels._inactive:before {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-blue-bull.png);
}
.popup-creative .tracking__article .select-pixels._inactive .select-option strong {
  color: #44609c;
}
.popup-creative .tracking__article .select-pixels._unverified:before {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-red-bull.png);
}
.popup-creative .tracking__article .select-pixels._unverified .select-option strong {
  color: #e86767;
}
.popup-creative .tracking__article .select-pixels:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 25px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin-left: 12px;
  margin-right: 10px;
  vertical-align: middle;
}
.popup-creative .tracking__article .choose-select__box {
  position: relative;
}
.popup-creative .tracking__article .choose-select__box .pixels-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding-left: 12px;
  height: 25px;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding-right: 30px;
}
.popup-creative .tracking__article .choose-select__box .pixels-title + .pixels {
  display: none;
}
.popup-creative .tracking__article .choose-select__box .pixels-title:after {
  content: '';
  display: block;
  width: 9px;
  height: 100%;
  position: absolute;
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-bot.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  top: 0;
  right: 8px;
}
.popup-creative .tracking__article .choose-select__box .pixels-title._active {
  background: #3b5999;
  border: 0 none;
  color: #fff;
}
.popup-creative .tracking__article .choose-select__box .pixels-title._active:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-top.png);
}
.popup-creative .tracking__article .choose-select__box .pixels-title._active + .pixels {
  display: block;
}
.popup-creative .tracking__article .choose-select__box .pixels {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 281px;
  width: 100%;
  position: absolute;
  border: 1px solid #c6c6c6;
  z-index: 1;
  background: #fff;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0 none;
  position: relative;
  top: -1px;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  line-height: 25px;
  height: 25px;
  padding-left: 17px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  cursor: pointer;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #b7b7b7;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 15px;
  cursor: pointer;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title._up + ul {
  display: block;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title._up:after {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_accordion-up-ffffff-8x6.png);
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title._down + ul {
  display: none;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__title._down:after {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_accordion-down-ffffff-8x6.png);
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list li {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  line-height: 25px;
  background: #f0f0f0;
  position: relative;
  padding-right: 67px;
  cursor: pointer;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list li span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  color: rgba(64, 64, 64, 0.8);
  display: inline-block;
  width: 250px;
  vertical-align: middle;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 25px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin-left: 12px;
  margin-right: 10px;
  vertical-align: middle;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list li:after {
  position: absolute;
  right: 15px;
  font-size: 11px;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list ._inactive:before {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-blue-bull.png);
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list ._inactive:after {
  content: "[Active]";
  color: #3b5998;
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list ._unverified:before {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-red-bull.png);
}
.popup-creative .tracking__article .choose-select__box .pixels .pixels-group__list ._unverified:after {
  content: "[Unverified]";
  color: #e86767;
}
.popup-creative .more-option__article .more-option__title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #f1f1f1;
  color: #404040;
  line-height: 25px;
  height: 25px;
  font-size: 15px;
  padding-left: 7px;
}
.popup-creative .more-option__article .more-option__title:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  margin-right: 5px;
}
.popup-creative .more-option__article .more-option__title[data-state="fold"]:before {
  content: '\f10c';
}
.popup-creative .more-option__article .more-option__title[data-state="unfold"] {
  color: #fff;
  background-color: #3b5998;
}
.popup-creative .more-option__article .more-option__title[data-state="unfold"]:before {
  content: '\f192';
}
.popup-creative .more-option__article .more-option__table {
  padding: 20px 25px;
}
.popup-creative .more-option__article .more-option__table table {
  width: 100%;
}
.popup-creative .more-option__article .more-option__table tr, .popup-creative .more-option__article .more-option__table th, .popup-creative .more-option__article .more-option__table td {
  display: block;
}
.popup-creative .more-option__article .more-option__table th {
  color: #3b5998;
  font-size: 15px;
  text-align: left;
  width: 100%;
  line-height: 25px;
}
.popup-creative .more-option__article .more-option__table th span {
  color: #404040;
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
}
.popup-creative .more-option__article .more-option__table td input[type="text"] {
  width: 500px;
}

.popup-content-target
{
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  z-index: 100;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1060px;
}
.popup-content-target .popup-header
{
  background-color: #3b5998;
  height: 45px;
}
.popup-content-target .popup-header h5
{
  color: #fff;
  font-size: 15px;
  line-height: 45px;
  padding: 0 20px;
}
.popup-content-target .popup-container{
  padding: 30px 15px;
}
.popup-content-target .popup-footer{
  border-top: 2px solid #3b5998;
  padding-top: 30px;
  text-align: center;
}

.popup-content-target .popup-footer button{
  margin-left: 10px;
}

.popup-content-target .btn-target-popup-close{
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png);
  display: block;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 38px;
  text-indent: -9999px;
  top: 37px;
  width: 13px;
}
.popup-content-target .choose-button__article{
  text-align: center;
  padding: 52px 0 61px;
}
.popup-content-target .choose-button__article .btn-create-new,
.popup-content-target .choose-button__article .btn-choose-existing
 {
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  color: #404040;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  width: 269px;
  font-family: "Roboto Condensed", "맑은 고딕", sans-serif;
  border: 1px solid #c6c6c6;
}
.popup-content-target .choose-button__article .btn-create-new:hover,
.popup-content-target .choose-button__article .btn-choose-existing:hover {
  background-color: #404040;
  color: #fff;
  border: 1px solid #404040;
}
.popup-content-target .choose-button__article .btn-choose-existing {
  margin-left: 15px;
}

.popup-content-target .popup-existing-content .existing > label {
  font-size: 17px;
  color: #3b5998;
  vertical-align: middle;
  width: 73px;
  display: inline-block;
}
.popup-content-target .popup-existing-content select {
  height: 26px;
}
.popup-content-target .popup-footer .btn-cancel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ababab;
  border-radius: 11.5px;
  color: #fff;
  font-size: 15px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}


/*# sourceMappingURL=2015-07-15_Popup-Creative.css.map */
