@charset "UTF-8";
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.wf-active body {
  font: 12px/1.231 "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}
.wf-active select,
.wf-active input[type="text"],
.wf-active input[type="password"],
.wf-active input[type="search"] {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  color: #404040;
  font: 12px/1.231 arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  border: 1px solid #c6c6c6;
  font-family: arial, sans-serif;
  padding: 3px 7px;
}

input[type="password"] {
  font-size: 19px;
  letter-spacing: 1px;
}

input[type="password"]::-webkit-input-placeholder {
	font-size : 12px;
	line-height : 25px;
	letter-spacing : 0;	
}
input[type="password"]:-moz-placeholder {
	font-size : 12px;
	line-height : 25px;
	letter-spacing : 0;
} 


input[type="radio"],
input[type="checkbox"],
label {
  cursor: pointer;
}

.wrap {
  background-color: #e7e7e7;
  min-height: 100%;
  min-width: 1440px;
}

.wrap:before {
  content: " ";
  display: table;
}

.popup-dim {
  background-color: rgba(87, 87, 87, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.fa-info-circle {
  cursor: help;
  color: #404040;
}

.input-date {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-calendar.png);
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  width: 200px;
  padding-right: 22px;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 5px;
  background: #404040;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-size: 11px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
  font-weight: 300;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}

/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.container {
  padding: 0 55px;
}

.content {
  background-color: #fff;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 22px 35px 32px;
  margin-top: 10px;
  border: 1px solid rgba(216, 216, 216, 0.7);
}

.content-title {
  background-color: #fff;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  font-size: 20px;
  color: #3b5998;
  line-height: 45px;
  border: 1px solid rgba(216, 216, 216, 0.7);
}
.content-title img {
  vertical-align: top;
  margin-top: 12px;
  margin-right: 4px;
}

/* My Page Master,User + My Page Client */
.table-my-page .table-header {
  *zoom: 1;
  margin-bottom: 6px;
  position: relative;
}
.table-my-page .table-header:before, .table-my-page .table-header:after {
  display: table;
  content: '';
}
.table-my-page .table-header:after {
  clear: both;
}
.table-my-page .table-header .table-title {
  font-size: 17px;
  color: #3b5998;
  font-weight: 400;
}
.table-my-page .table-header .search-user {
  position: absolute;
  right: 0;
  top: -5px;
}
.table-my-page .table-header .search-user .search {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding-left: 25px;
  width: 187px;
  height: 25px;
  line-height: 25px;
}
.table-my-page .table-header .search-user .btn-add-user {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 93px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-my-page table {
  width: 100%;
}
.table-my-page table th,
.table-my-page table td {
  letter-spacing: 0;
}
.table-my-page table th.edit, .table-my-page table th.delete,
.table-my-page table td.edit,
.table-my-page table td.delete {
  padding-left: 0;
  text-align: center;
}
.table-my-page table th.edit .btn-edit,
.table-my-page table th.edit .btn-delete, .table-my-page table th.delete .btn-edit,
.table-my-page table th.delete .btn-delete,
.table-my-page table td.edit .btn-edit,
.table-my-page table td.edit .btn-delete,
.table-my-page table td.delete .btn-edit,
.table-my-page table td.delete .btn-delete {
  background-color: #a1a1a1;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-my-page table th {
  font-weight: 400;
}
.table-my-page table thead th,
.table-my-page table thead td {
  border-top: 2px solid #3b5998;
  height: 38px;
  font-size: 12px;
  color: #3b5998;
  padding-left: 10px;
  text-align: left;
}
.table-my-page table tbody th,
.table-my-page table tbody td {
  font-size: 13px;
  height: 39px;
  border-top: 1px solid #dadada;
  padding-left: 10px;
}
.table-my-page table tbody th {
  text-align: left;
  color: #3b5998;
}
.table-my-page table tbody tr:first-child th,
.table-my-page table tbody tr:first-child td {
  border-top: 2px solid #3b5998;
}
.table-my-page table tbody tr:last-child th,
.table-my-page table tbody tr:last-child td {
  border-bottom: 2px solid #3b5998;
}
.table-my-page table.no-data tbody th,
.table-my-page table.no-data tbody td {
  text-align: center;
}
.table-my-page table.no-data tbody tr:last-child th,
.table-my-page table.no-data tbody tr:last-child td {
  border-bottom: 0 none;
  height: 100px;
}
.table-my-page table .list-account {
  padding: 20px 0;
}
.table-my-page table .list-account li {
  margin-top: 15px;
}
.table-my-page table .list-account li:first-child {
  margin-top: 0;
}
.table-my-page colgroup .table-header {
  width: 160px;
}
.table-my-page table tbody th {
  font-size: 15px;
}
.table-my-page table .text-authentication {
  color: rgba(64, 64, 64, 0.5);
  font-size: 12px;
}
.table-my-page table .text-authentication.on {
  color: #3b5998;
}
.table-my-page table .btn-authentication {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-delete-large-gray.png);
  height: 15px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  top: 2px;
  vertical-align: top;
  width: 15px;
}
.table-my-page table .btn-change-password,
.table-my-page table .btn-facebook-login {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 130px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-my-page table .btn-change-password:disabled,
.table-my-page table .btn-facebook-login:disabled {
  background-color: #ababab;
}

.popup-change-password {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 100;
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 178px;
  width: 600px;
}
.popup-change-password .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-change-password .popup-header h5 {
  font-size: 15px;
  color: #fff;
  text-indent: 20px;
  line-height: 45px;
}
.popup-change-password .popup-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid #3b5998;
}
.popup-change-password .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-change-password .btn-popup-close {
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-popup-close.png);
  right: 38px;
  top: 37px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-change-password .popup-container {
  text-align: center;
}
.popup-change-password .popup-container .table-content {
  display: inline-block;
  padding: 30px 0;
}
.popup-change-password .popup-container .table-content table th,
.popup-change-password .popup-container .table-content table td {
  vertical-align: top;
}
.popup-change-password .popup-container .table-content table th {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: #3b5998;
  padding-top: 11px;
  width: 160px;
}
.popup-change-password .popup-container .table-content table td {
  padding-top: 9px;
}
.popup-change-password .popup-container .table-content table tr:first-child td,
.popup-change-password .popup-container .table-content table tr:first-child th{
	padding-top: 0;
}
.popup-change-password .popup-container .table-content table td input {
  width: 204px;
  height: 25px;
}
.popup-change-password .btn-ok {
  background-color: #3b5998;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

/* Client Master,User */
.table-client .table-header {
  *zoom: 1;
  margin-bottom: 6px;
  position: relative;
}
.table-client .table-header:before, .table-client .table-header:after {
  display: table;
  content: '';
}
.table-client .table-header:after {
  clear: both;
}
.table-client .table-header .table-title {
  font-size: 17px;
  color: #3b5998;
  font-weight: 400;
}
.table-client .table-header .search-user {
  position: absolute;
  right: 0;
  top: -5px;
}
.table-client .table-header .search-user .search {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding-left: 25px;
  width: 187px;
  height: 25px;
  line-height: 25px;
}
.table-client .table-header .search-user .btn-add-user {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 93px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-client table {
  width: 100%;
}
.table-client table th,
.table-client table td {
  letter-spacing: 0;
}
.table-client table th.edit, .table-client table th.delete,
.table-client table td.edit,
.table-client table td.delete {
  padding-left: 0;
  text-align: center;
}
.table-client table th.edit .btn-edit,
.table-client table th.edit .btn-delete, .table-client table th.delete .btn-edit,
.table-client table th.delete .btn-delete,
.table-client table td.edit .btn-edit,
.table-client table td.edit .btn-delete,
.table-client table td.delete .btn-edit,
.table-client table td.delete .btn-delete {
  background-color: #a1a1a1;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-client table th {
  font-weight: 400;
}
.table-client table thead th,
.table-client table thead td {
  border-top: 2px solid #3b5998;
  height: 38px;
  font-size: 12px;
  color: #3b5998;
  padding-left: 10px;
  text-align: left;
}
.table-client table tbody th,
.table-client table tbody td {
  font-size: 13px;
  height: 39px;
  border-top: 1px solid #dadada;
  padding-left: 10px;
}
.table-client table tbody th {
  text-align: left;
  color: #3b5998;
}
.table-client table tbody tr:first-child th,
.table-client table tbody tr:first-child td {
  border-top: 2px solid #3b5998;
}
.table-client table tbody tr:last-child th,
.table-client table tbody tr:last-child td {
  border-bottom: 2px solid #3b5998;
}
.table-client table.no-data tbody th,
.table-client table.no-data tbody td {
  text-align: center;
}
.table-client table.no-data tbody tr:last-child th,
.table-client table.no-data tbody tr:last-child td {
  border-bottom: 0 none;
  height: 100px;
}
.table-client table .list-account {
  padding: 20px 0;
}
.table-client table .list-account li {
  margin-top: 15px;
}
.table-client table .list-account li:first-child {
  margin-top: 0;
}
.table-client colgroup .name {
  width: 190px;
}
.table-client colgroup .ad-account {
  width: 255px;
}
.table-client colgroup .edit {
  width: 70px;
}

.popup-add-client {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 100;
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 178px;
  width: 600px;
}
.popup-add-client .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-add-client .popup-header h5 {
  font-size: 15px;
  color: #fff;
  text-indent: 20px;
  line-height: 45px;
}
.popup-add-client .popup-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid #3b5998;
}
.popup-add-client .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-add-client .btn-popup-close {
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-popup-close.png);
  right: 38px;
  top: 37px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-add-client .custom-input {
  /* 공통적인 스타일 */
}
.popup-add-client .custom-input label {
  cursor: pointer;
  display: inline-block;
}
.popup-add-client .custom-input label:nth-of-type(1) {
  margin-left: 0;
}
.popup-add-client .custom-input input[type="checkbox"],
.popup-add-client .custom-input input[type="radio"] {
  display: none;
}
.popup-add-client .custom-input input[type="checkbox"]:checked + label:after,
.popup-add-client .custom-input input[type="radio"]:checked + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-checked.png);
}
.popup-add-client .custom-input input[type="checkbox"]:disabled + label:after,
.popup-add-client .custom-input input[type="radio"]:disabled + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-checked-disabled.png);
}
.popup-add-client .custom-input input[type="checkbox"] + label,
.popup-add-client .custom-input input[type="radio"] + label {
  position: relative;
}
.popup-add-client .custom-input input[type="checkbox"] + label:before,
.popup-add-client .custom-input input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.popup-add-client .custom-input input[type="checkbox"] + label:after,
.popup-add-client .custom-input input[type="radio"] + label:after {
  content: '';
  display: block;
  height: 10px;
  left: 2px;
  top: 1px;
  position: absolute;
  width: 13px;
}
.popup-add-client .custom-input input[type="checkbox"] + label {
  position: relative;
}
.popup-add-client .custom-input input[type="checkbox"] + label:before {
  width: 11px;
  height: 11px;
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg-checkbox.png);
}
.popup-add-client .custom-input input[type="radio"] + label {
  position: relative;
}
.popup-add-client .custom-input input[type="radio"] + label:before {
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg-radio.png);
}
.popup-add-client .custom-input label {
  margin-left: 20px;
}
.popup-add-client .popup-container {
  padding: 30px 15px;
}
.popup-add-client .table-content .tr-client-info th {
  padding-top: 2px;
}
.popup-add-client .table-content .tr-ad-account-select th {
  padding-top: 26px;
}
.popup-add-client .table-content .tr-ad-account-select td {
  padding-top: 20px;
}
.popup-add-client .table-content .tr-ad-account-select .select-wrap .result p {
  background-color: #f1f1f1;
  margin-bottom: 3px;
  font-size: 11px;
  padding: 8px;
  width: 400px;
  overflow: hidden;
  box-sizing: border-box;
}
.popup-add-client .table-content .tr-ad-account-select .select-wrap .result p span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
  display: inline-block;
  vertical-align: middle;
  width: 373px;
}
.popup-add-client .table-content .tr-ad-account-select .select-wrap .result p .btn-remove {
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-remove-black-11x11.png);
}
.popup-add-client .table-content .tr-ad-account-select .select-wrap .result p:last-child {
  margin-bottom: 7px;
}
.popup-add-client .table-content .tr-ad-account-select .select-wrap .select {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  padding-right: 25px;
  height: 25px;
  width: 100%;
  letter-spacing: 0.5px;
  overflow: hidden;
  line-height: 25px;
}
.popup-add-client .table-content th {
  vertical-align: top;
  font-size: 15px;
  color: #3b5998;
  font-weight: 400;
  width: 140px;
  text-align: left;
  letter-spacing: 0;
}
.popup-add-client .table-content .id-password-edit {
  width: 400px;
  height: 145px;
  *zoom: 1;
  *zoom: 1;
}
.popup-add-client .table-content .id-password-edit:before, .popup-add-client .table-content .id-password-edit:after {
  display: table;
  content: '';
}
.popup-add-client .table-content .id-password-edit:after {
  clear: both;
}
.popup-add-client .table-content .id-password-edit:before, .popup-add-client .table-content .id-password-edit:after {
  display: table;
  content: '';
}
.popup-add-client .table-content .id-password-edit:after {
  clear: both;
}
.popup-add-client .table-content .id-password-edit dt,
.popup-add-client .table-content .id-password-edit dd {
  float: left;
  line-height: 25px;
  height: 25px;
  margin-top: 5px;
}
.popup-add-client .table-content .id-password-edit dt:nth-of-type(1),
.popup-add-client .table-content .id-password-edit dd:nth-of-type(1) {
  margin-top: 0;
}
.popup-add-client .table-content .id-password-edit dt {
  color: #3b5998;
}
.popup-add-client .table-content .id-password-edit input[type="text"],
.popup-add-client .table-content .id-password-edit input[type="password"] {
  width: 215px;
  height: 25px;
}
.popup-add-client .table-content .id-password-edit dt {
  width: 117px;
}
.popup-add-client .table-content .id-password-edit dd {
  width: 283px;
}
.popup-add-client .table-content .id-password-edit .btn-check {
  background-color: #ababab;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 60px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
  margin-left: 5px;
}
.popup-add-client .table-content .id-password-edit .btn-change-password {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 130px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-add-client .btn-ok {
  background-color: #3b5998;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-add-client .btn-cancel {
  background-color: #ababab;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

/* Ad Account Client */
.table-ad-account-client .table-header {
  *zoom: 1;
  margin-bottom: 6px;
  position: relative;
}
.table-ad-account-client .table-header:before, .table-ad-account-client .table-header:after {
  display: table;
  content: '';
}
.table-ad-account-client .table-header:after {
  clear: both;
}
.table-ad-account-client .table-header .table-title {
  font-size: 17px;
  color: #3b5998;
  font-weight: 400;
}
.table-ad-account-client .table-header .search-user {
  position: absolute;
  right: 0;
  top: -5px;
}
.table-ad-account-client .table-header .search-user .search {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding-left: 25px;
  width: 187px;
  height: 25px;
  line-height: 25px;
}
.table-ad-account-client .table-header .search-user .btn-add-user {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 93px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-ad-account-client table {
  width: 100%;
}
.table-ad-account-client table th,
.table-ad-account-client table td {
  letter-spacing: 0;
}
.table-ad-account-client table th.edit, .table-ad-account-client table th.delete,
.table-ad-account-client table td.edit,
.table-ad-account-client table td.delete {
  padding-left: 0;
  text-align: center;
}
.table-ad-account-client table th.edit .btn-edit,
.table-ad-account-client table th.edit .btn-delete, .table-ad-account-client table th.delete .btn-edit,
.table-ad-account-client table th.delete .btn-delete,
.table-ad-account-client table td.edit .btn-edit,
.table-ad-account-client table td.edit .btn-delete,
.table-ad-account-client table td.delete .btn-edit,
.table-ad-account-client table td.delete .btn-delete {
  background-color: #a1a1a1;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-ad-account-client table th {
  font-weight: 400;
}
.table-ad-account-client table thead th,
.table-ad-account-client table thead td {
  border-top: 2px solid #3b5998;
  height: 38px;
  font-size: 12px;
  color: #3b5998;
  text-align: center;
}
.table-ad-account-client table thead th:first-child,
.table-ad-account-client table thead td:first-child {
  padding-left: 10px;
}
.table-ad-account-client table tbody th,
.table-ad-account-client table tbody td {
  font-size: 13px;
  height: 39px;
  border-top: 1px solid #dadada;
  text-align: center;
}
.table-ad-account-client table tbody th:first-child,
.table-ad-account-client table tbody td:first-child {
  text-align: left;
  padding-left: 10px;
}
.table-ad-account-client table tbody th {
  text-align: left;
  color: #3b5998;
}
.table-ad-account-client table tbody tr:first-child th,
.table-ad-account-client table tbody tr:first-child td {
  border-top: 2px solid #3b5998;
}
.table-ad-account-client table tbody tr:last-child th,
.table-ad-account-client table tbody tr:last-child td {
  border-bottom: 2px solid #3b5998;
}
.table-ad-account-client table.no-data tbody th,
.table-ad-account-client table.no-data tbody td {
  text-align: center;
}
.table-ad-account-client table.no-data tbody tr:last-child th,
.table-ad-account-client table.no-data tbody tr:last-child td {
  border-bottom: 0 none;
  height: 100px;
}
.table-ad-account-client table .list-account {
  padding: 20px 0;
}
.table-ad-account-client table .list-account li {
  margin-top: 15px;
}
.table-ad-account-client table .list-account li:first-child {
  margin-top: 0;
}
.table-ad-account-client colgroup .name {
  width: 730px;
}

/* Ad Account Master,User */
.table-ad-account .table-header {
  *zoom: 1;
  margin-bottom: 6px;
  position: relative;
}
.table-ad-account .table-header:before, .table-ad-account .table-header:after {
  display: table;
  content: '';
}
.table-ad-account .table-header:after {
  clear: both;
}
.table-ad-account .table-header .table-title {
  font-size: 17px;
  color: #3b5998;
  font-weight: 400;
}
.table-ad-account .table-header .search-user {
  position: absolute;
  right: 0;
  top: -5px;
}
.table-ad-account .table-header .search-user .search {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding-left: 25px;
  width: 187px;
  height: 25px;
  line-height: 25px;
}
.table-ad-account .table-header .search-user .btn-add-user {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 93px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-ad-account table {
  width: 100%;
}
.table-ad-account table th,
.table-ad-account table td {
  letter-spacing: 0;
}
.table-ad-account table th.edit, .table-ad-account table th.delete,
.table-ad-account table td.edit,
.table-ad-account table td.delete {
  padding-left: 0;
  text-align: center;
}
.table-ad-account table th.edit .btn-edit,
.table-ad-account table th.edit .btn-delete, .table-ad-account table th.delete .btn-edit,
.table-ad-account table th.delete .btn-delete,
.table-ad-account table td.edit .btn-edit,
.table-ad-account table td.edit .btn-delete,
.table-ad-account table td.delete .btn-edit,
.table-ad-account table td.delete .btn-delete {
  background-color: #a1a1a1;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-ad-account table th {
  font-weight: 400;
}
.table-ad-account table thead th:nth-child(1),
.table-ad-account table thead th:nth-child(2){
	text-align : left;
}
                                                                                                                                       
.table-ad-account table thead th,
.table-ad-account table thead td {
  border-top: 2px solid #3b5998;
  height: 38px;
  font-size: 12px;
  color: #3b5998;
  text-align: center;
}
.table-ad-account table thead th:first-child,
.table-ad-account table thead td:first-child {
  padding-left: 10px;
}
.table-ad-account table tbody th,
.table-ad-account table tbody td {
  font-size: 13px;
  height: 39px;
  border-top: 1px solid #dadada;
  text-align: center;
}
.table-ad-account table tbody th:first-child,
.table-ad-account table tbody td:first-child {
  text-align: left;
  padding-left: 10px;
}
.table-ad-account table tbody th {
  text-align: left;
  color: #3b5998;
}

.table-ad-account table tbody tr:first-child th,
.table-ad-account table tbody tr:first-child td {
  border-top: 2px solid #3b5998;
}
.table-ad-account table tbody tr:last-child th,
.table-ad-account table tbody tr:last-child td {
  border-bottom: 2px solid #3b5998;
}
.table-ad-account table.no-data tbody th,
.table-ad-account table.no-data tbody td {
  text-align: center;
}
.table-ad-account table.no-data tbody tr:last-child th,
.table-ad-account table.no-data tbody tr:last-child td {
  border-bottom: 0 none;
  height: 100px;
}
.table-ad-account table .list-account {
  padding: 20px 0;
}
.table-ad-account table .list-account li {
  margin-top: 15px;
}
.table-ad-account table .list-account li:first-child {
  margin-top: 0;
}
.table-ad-account .fa-info-circle {
  vertical-align: middle;
}
.table-ad-account colgroup .name {
  width: 278px;
}
.table-ad-account colgroup .industry {
  width: 300px;
}
.table-ad-account colgroup .ad-account {
  width: 240px;
}
.table-ad-account colgroup .currency {
  width: 132px;
}
.table-ad-account colgroup .time-zone {
  width: 239px;
}
.table-ad-account colgroup .edit {
  width: 69px;
}
.table-ad-account tbody td:nth-child(1) span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 240px;
  vertical-align: top;
}
.table-ad-account tbody td:nth-child(2) {
  text-align: left;
}

.popup-ad-account-info {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 100;
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 178px;
  width: 600px;
}
.popup-ad-account-info .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-ad-account-info .popup-header h5 {
  font-size: 15px;
  color: #fff;
  text-indent: 20px;
  line-height: 45px;
}
.popup-ad-account-info .popup-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid #3b5998;
}
.popup-ad-account-info .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-ad-account-info .btn-popup-close {
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-popup-close.png);
  right: 38px;
  top: 37px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-ad-account-info .popup-container {
  padding: 30px 15px;
}
.popup-ad-account-info .popup-container .table-content table {
  width: 100%;
}
.popup-ad-account-info .popup-container .table-content table th {
  font-size: 15px;
  text-align: left;
  color: #3b5998;
  font-weight: 400;
  width: 105px;
  vertical-align: top;
  padding-top: 8px;
  letter-spacing: 0;
}
.popup-ad-account-info .popup-container .table-content table td {
  vertical-align: top;
  padding-top: 12px;
}
.popup-ad-account-info .popup-container .table-content .info {
  border-bottom: 1px solid #dadada;
}
.popup-ad-account-info .popup-container .table-content .info tr:first-child th,
.popup-ad-account-info .popup-container .table-content .info tr:first-child td {
  padding-top: 0;
}
.popup-ad-account-info .popup-container .table-content .info tr:last-child th,
.popup-ad-account-info .popup-container .table-content .info tr:last-child td {
  padding-bottom: 14px;
}
.popup-ad-account-info .popup-container .table-content .spend,
.popup-ad-account-info .popup-container .table-content .page {
  border-bottom: 1px solid #dadada;
}
.popup-ad-account-info .popup-container .table-content .spend tr:first-child th,
.popup-ad-account-info .popup-container .table-content .spend tr:first-child td,
.popup-ad-account-info .popup-container .table-content .page tr:first-child th,
.popup-ad-account-info .popup-container .table-content .page tr:first-child td {
  padding-top: 14px;
}
.popup-ad-account-info .popup-container .table-content .spend tr:last-child th,
.popup-ad-account-info .popup-container .table-content .spend tr:last-child td,
.popup-ad-account-info .popup-container .table-content .page tr:last-child th,
.popup-ad-account-info .popup-container .table-content .page tr:last-child td {
  padding-bottom: 14px;
}
.popup-ad-account-info .popup-container .table-content .spend .tr-spend-limit .spend-limit-wrap {
  position: relative;
}
.popup-ad-account-info .popup-container .table-content .spend .tr-spend-limit .spend-limit-wrap .currency-unit {
  position: absolute;
  left: 5px;
  top: 4px;
}
.popup-ad-account-info .popup-container .table-content .spend .tr-spend-limit .spend-limit-wrap .input-spend-limit {
  padding-left: 20px;
  width: 215px;
  margin-right: 7px;
}
.popup-ad-account-info .popup-container .table-content .spend .tr-spend .text-spend {
  display: inline-block;
  width: 160px;
}
.popup-ad-account-info .popup-container .table-content .spend .tr-spend .btn-reset {
  background-color: #3b5998;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-ad-account-info .popup-container .table-content .page th {
	padding-top: 16px;
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .result {
  overflow: auto;
  max-height: 144px;
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .result p {
  background-color: #f1f1f1;
  margin-bottom: 3px;
  font-size: 11px;
  padding: 0 8px;
  line-height: 25px;
  width: 400px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .result p span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  width: 373px;
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .result p .btn-remove {
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-remove-black-11x11.png);
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .result p:last-child {
  margin-bottom: 7px;
}
.popup-ad-account-info .popup-container .table-content .page .select-wrap .select {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-bot.png);
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  padding-right: 25px;
  height: 25px;
  width: 400px;
  letter-spacing: 0.5px;
  overflow: hidden;
  line-height: 25px;
}
.popup-ad-account-info .popup-container .table-content .industry {
  padding-top: 14px;
}
.popup-ad-account-info .popup-container .table-content .industry tr:first-child th,
.popup-ad-account-info .popup-container .table-content .industry tr:first-child td {
  padding-top: 14px;
}
.popup-ad-account-info .popup-container .table-content .industry td .result p {
  background-color: #f1f1f1;
  margin-bottom: 3px;
  font-size: 11px;
  padding: 0 8px;
  line-height: 25px;
  width: 400px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.popup-ad-account-info .popup-container .table-content .industry td .result p span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  width: 373px;
}
.popup-ad-account-info .popup-container .table-content .industry td .result p .btn-remove {
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-remove-black-11x11.png);
}
.popup-ad-account-info .popup-container .table-content .industry td .result p:last-child {
  margin-bottom: 7px;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl {
  border: 1px solid #dadada;
  overflow: auto;
  height: 230px;
  width: 400px;
  line-height: 18px;
  position: relative;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dt {
  color: #3b5998;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 8px;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd {
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
  padding-left: 9px;
  *zoom: 1;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd:before, .popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd:after {
  display: table;
  content: '';
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd:after {
  clear: both;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd a {
  color: #404040;
  font-size: 11px;
  float: left;
  position: relative;
  margin-right: 11px;
  display: block;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd a:hover {
  color: #3b5998;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd a:last-child:after {
  border-right: 0 none;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item dl dd a:after {
  content: '';
  display: block;
  border-right: 1px solid #dadada;
  width: 0;
  height: 100%;
  position: absolute;
  right: -5px;
  top: 0;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item.disabled {
  position: relative;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item.disabled:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 5;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item.disabled dl dt {
  color: #aaa;
}
.popup-ad-account-info .popup-container .table-content .industry td .industry-item.disabled dl dd a {
  color: #aaa;
}
.popup-ad-account-info .btn-ok {
  background-color: #3b5998;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-ad-account-info .btn-cancel {
  background-color: #a1a1a1;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

.btn-refresh {
  text-indent: -9999px;
  width: 30px;
  height: 20px;
  vertical-align: top;
  overflow: hidden;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-refresh_ababab_66x77.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-refresh:hover {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-refresh_3b5998_66x77.png);
}

/* User Master */
.table-user .table-header {
  *zoom: 1;
  margin-bottom: 6px;
  position: relative;
}
.table-user .table-header:before, .table-user .table-header:after {
  display: table;
  content: '';
}
.table-user .table-header:after {
  clear: both;
}
.table-user .table-header .table-title {
  font-size: 17px;
  color: #3b5998;
  font-weight: 400;
}
.table-user .table-header .search-user {
  position: absolute;
  right: 0;
  top: -5px;
}
.table-user .table-header .search-user .search {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-search-gray-14x13.png);
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
  padding-left: 25px;
  width: 187px;
  height: 25px;
  line-height: 25px;
}
.table-user .table-header .search-user .btn-add-user {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 93px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-user table {
  width: 100%;
}
.table-user table th,
.table-user table td {
  letter-spacing: 0;
}
.table-user table th.edit, .table-user table th.delete,
.table-user table td.edit,
.table-user table td.delete {
  padding-left: 0;
  text-align: center;
}
.table-user table th.edit .btn-edit,
.table-user table th.edit .btn-delete, .table-user table th.delete .btn-edit,
.table-user table th.delete .btn-delete,
.table-user table td.edit .btn-edit,
.table-user table td.edit .btn-delete,
.table-user table td.delete .btn-edit,
.table-user table td.delete .btn-delete {
  background-color: #a1a1a1;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.table-user table th {
  font-weight: 400;
}
.table-user table thead th,
.table-user table thead td {
  border-top: 2px solid #3b5998;
  height: 38px;
  font-size: 12px;
  color: #3b5998;
  padding-left: 10px;
  text-align: left;
}
.table-user table tbody th,
.table-user table tbody td {
  font-size: 13px;
  height: 39px;
  border-top: 1px solid #dadada;
  padding-left: 10px;
}
.table-user table tbody th {
  text-align: left;
  color: #3b5998;
}
.table-user table tbody tr:first-child th,
.table-user table tbody tr:first-child td {
  border-top: 2px solid #3b5998;
}
.table-user table tbody tr:last-child th,
.table-user table tbody tr:last-child td {
  border-bottom: 2px solid #3b5998;
}
.table-user table.no-data tbody th,
.table-user table.no-data tbody td {
  text-align: center;
}
.table-user table.no-data tbody tr:last-child th,
.table-user table.no-data tbody tr:last-child td {
  border-bottom: 0 none;
  height: 100px;
}
.table-user table .list-account {
  padding: 20px 0;
}
.table-user table .list-account li {
  margin-top: 5px;
}
.table-user table .list-account li:first-child {
  margin-top: 0;
}
.table-user colgroup .login-id {
  width: 190px;
}
.table-user colgroup .e-mail {
  width: 265px;
}
.table-user colgroup .facebook-authentication {
  width: 213px;
}
.table-user colgroup .edit,
.table-user colgroup .delete {
  width: 69px;
}

.popup-add-user {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 100;
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 178px;
  width: 600px;
}
.popup-add-user .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-add-user .popup-header h5 {
  font-size: 15px;
  color: #fff;
  text-indent: 20px;
  line-height: 45px;
}
.popup-add-user .popup-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 2px solid #3b5998;
}
.popup-add-user .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-add-user .btn-popup-close {
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/button/btn-popup-close.png);
  right: 38px;
  top: 37px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-add-user .custom-input {
  /* 공통적인 스타일 */
}
.popup-add-user .custom-input label {
  cursor: pointer;
  display: inline-block;
}
.popup-add-user .custom-input label:nth-of-type(1) {
  margin-left: 0;
}
.popup-add-user .custom-input input[type="checkbox"],
.popup-add-user .custom-input input[type="radio"] {
  display: none;
}
.popup-add-user .custom-input input[type="checkbox"]:checked + label:after,
.popup-add-user .custom-input input[type="radio"]:checked + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-checked.png);
}
.popup-add-user .custom-input input[type="checkbox"]:disabled + label:after,
.popup-add-user .custom-input input[type="radio"]:disabled + label:after {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-checked-disabled.png);
}
.popup-add-user .custom-input input[type="checkbox"] + label,
.popup-add-user .custom-input input[type="radio"] + label {
  position: relative;
}
.popup-add-user .custom-input input[type="checkbox"] + label:before,
.popup-add-user .custom-input input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.popup-add-user .custom-input input[type="checkbox"] + label:after,
.popup-add-user .custom-input input[type="radio"] + label:after {
  content: '';
  display: block;
  height: 10px;
  left: 2px;
  top: 1px;
  position: absolute;
  width: 13px;
}
.popup-add-user .custom-input input[type="checkbox"] + label {
  position: relative;
}
.popup-add-user .custom-input input[type="checkbox"] + label:before {
  width: 11px;
  height: 11px;
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg-checkbox.png);
}
.popup-add-user .custom-input input[type="radio"] + label {
  position: relative;
}
.popup-add-user .custom-input input[type="radio"] + label:before {
  width: 13px;
  height: 13px;
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg-radio.png);
}
.popup-add-user .custom-input label {
  margin-left: 30px;
}
.popup-add-user .popup-container {
  padding: 30px 15px;
}
.popup-add-user .table-content .select-add-user {
  width: 100%;
}
.popup-add-user .table-content .tr-assign-roles th {
  padding-top: 18px;
}
.popup-add-user .table-content .tr-assign-roles td {
  padding-top: 14px;
}
.popup-add-user .table-content th {
  vertical-align: top;
  font-size: 15px;
  color: #3b5998;
  font-weight: 400;
  width: 110px;
  text-align: left;
}
.popup-add-user .table-content .basic-info,
.popup-add-user .table-content .id-password-edit,
.popup-add-user .table-content .id-password-info {
  *zoom: 1;
}
.popup-add-user .table-content .basic-info:before, .popup-add-user .table-content .basic-info:after,
.popup-add-user .table-content .id-password-edit:before,
.popup-add-user .table-content .id-password-edit:after,
.popup-add-user .table-content .id-password-info:before,
.popup-add-user .table-content .id-password-info:after {
  display: table;
  content: '';
}
.popup-add-user .table-content .basic-info:after,
.popup-add-user .table-content .id-password-edit:after,
.popup-add-user .table-content .id-password-info:after {
  clear: both;
}
.popup-add-user .table-content .basic-info dt,
.popup-add-user .table-content .basic-info dd,
.popup-add-user .table-content .id-password-edit dt,
.popup-add-user .table-content .id-password-edit dd,
.popup-add-user .table-content .id-password-info dt,
.popup-add-user .table-content .id-password-info dd {
  float: left;
  line-height: 25px;
  height: 25px;
  margin-top: 5px;
}
.popup-add-user .table-content .basic-info dt:nth-of-type(1),
.popup-add-user .table-content .basic-info dd:nth-of-type(1),
.popup-add-user .table-content .id-password-edit dt:nth-of-type(1),
.popup-add-user .table-content .id-password-edit dd:nth-of-type(1),
.popup-add-user .table-content .id-password-info dt:nth-of-type(1),
.popup-add-user .table-content .id-password-info dd:nth-of-type(1) {
  margin-top: 0;
}
.popup-add-user .table-content .basic-info dt,
.popup-add-user .table-content .id-password-edit dt,
.popup-add-user .table-content .id-password-info dt {
  color: #3b5998;
}
.popup-add-user .table-content .basic-info input[type="text"],
.popup-add-user .table-content .basic-info input[type="password"],
.popup-add-user .table-content .id-password-edit input[type="text"],
.popup-add-user .table-content .id-password-edit input[type="password"],
.popup-add-user .table-content .id-password-info input[type="text"],
.popup-add-user .table-content .id-password-info input[type="password"] {
  width: 215px;
  height: 25px;
}
.popup-add-user .table-content .basic-info {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.popup-add-user .table-content .basic-info dt {
  width: 155px;
}
.popup-add-user .table-content .basic-info dd {
  position: relative;
  width: 260px;
}
.popup-add-user .table-content .id-password-edit {
  width: 400px;
  padding-top: 15px;
}
.popup-add-user .table-content .id-password-edit dt {
  width: 117px;
}
.popup-add-user .table-content .id-password-edit input[type="text"],
.popup-add-user .table-content .id-password-edit input[type="password"] {
  width: 215px;
  height: 25px;
}

/* .popup-add-user .table-content .id-password-edit input[type="password"]::-webkit-input-placeholder{
	font-size : 12px;
	line-height : 25px;
	letter-spacing : 0px;
} */

.popup-add-user .table-content .id-password-edit .btn-check {
  background-color: #ababab;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 60px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
  margin-left: 5px;
}
.popup-add-user .table-content .id-password-info {
  width: 400px;
  padding-top: 15px;
}
.popup-add-user .table-content .id-password-info dt {
  width: 117px;
}
.popup-add-user .table-content .id-password-info dd {
  width: 280px;
}
.popup-add-user .table-content .id-password-info .btn-change-password {
  background-color: #3b5998;
  border-radius: 10.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  width: 130px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-add-user .btn-ok {
  background-color: #3b5998;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}
.popup-add-user .btn-cancel {
  background-color: #ababab;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

.ajaxlodingimg {
  width: 95px;
  height: 72px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(http://file.adwitt.tw/images_v1/loading-wisebirds.gif) no-repeat;
}

/* Auto Complete Style */
.autocomplete-suggestions {
  border: 1px solid #d6d6d6;
}
.autocomplete-suggestions .autocomplete-suggestion {
  background-color: #fff;
  color: #3b5998;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  box-sizing: border-box;
  padding: 0 8px;
}
.autocomplete-suggestions .autocomplete-suggestion:hover {
  background-color: #dde3f0;
}
.autocomplete-suggestions .autocomplete-suggestion strong {
  font-weight: 400;
}


.select2-container--adwitt .select2-selection--single,
.select2-container--adwitt-time .select2-selection--single {
  border: 1px solid #c6c6c6;
  height: 25px;
  background-color: #fff;
}
.select2-container--adwitt .select2-selection--single .select2-selection__rendered,
.select2-container--adwitt-time .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_select-3b5998-9x6.png);
  display: inline-block;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 9px;
}
.select2-container--adwitt .select2-dropdown,
.select2-container--adwitt-time .select2-dropdown {
  border-radius: 0;
}
.select2-container--adwitt.select2-container--open .select2-selection__rendered,
.select2-container--adwitt-time.select2-container--open .select2-selection__rendered {
  background-color: #3b5998;
  color: #fff;
  outline: 0 none;
}
.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_select-ffffff-9x6.png);
}
.select2-container--adwitt .select2-results__option[aria-selected=true],
.select2-container--adwitt-time .select2-results__option[aria-selected=true] {
  background-color: #fff;
}
.select2-container--adwitt .select2-results__option--highlighted[aria-selected],
.select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
  color: #404040;
}
.select2-container--adwitt .select2-results > .select2-results__options,
.select2-container--adwitt-time .select2-results > .select2-results__options {
  max-height: 199px;
  position: relative;
}
.select2-container--adwitt .select2-results > .select2-results__options .select2-results__option,
.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 6px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.select2-container--adwitt .select2-results > .select2-results__options li,
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 1px solid #c1c1c1;
}
.select2-container--adwitt .select2-results > .select2-results__options li:nth-last-of-type(1),
.select2-container--adwitt-time .select2-results > .select2-results__options li:nth-last-of-type(1) {
  border-bottom: 0 none;
}

.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 25px;
  padding: 0 12px 0 6px;
}
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 0 none;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container > .ps-scrollbar-y-rail {
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
  right: 0;
  width: 12px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 0.4;
  right: 2px;
  width: 8px;
}
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #fff;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}

