@charset "UTF-8";
.ajax-loading{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.5);
}
.ajax-loading img{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -62px;
    margin-left: -84px;
}