@charset "UTF-8";
.select2-container--adwitt .select2-selection--single,
.select2-container--adwitt-time .select2-selection--single {
  border: 1px solid #c6c6c6;
  height: 25px;
  background-color: #fff;
}
.select2-container--adwitt .select2-selection--single .select2-selection__rendered,
.select2-container--adwitt-time .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b {
  background-image: url(http://file.adwitt.tw/images_v1/bg/bg_select-3b5998-9x6.png);
  display: inline-block;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 9px;
}
.select2-container--adwitt .select2-dropdown,
.select2-container--adwitt-time .select2-dropdown {
  border-radius: 0;
}
.select2-container--adwitt.select2-container--open .select2-selection__rendered,
.select2-container--adwitt-time.select2-container--open .select2-selection__rendered {
  background-color: #3b5998;
  color: #fff;
  outline: 0 none;
}
.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url("http://file.adwitt.tw/images_v1/bg/bg_select-ffffff-9x6.png");
}
.select2-container--adwitt .select2-results__option[aria-selected=true],
.select2-container--adwitt-time .select2-results__option[aria-selected=true] {
  background-color: #fff;
}
.select2-container--adwitt .select2-results__option--highlighted[aria-selected],
.select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
  color: #404040;
}
.select2-container--adwitt .select2-results > .select2-results__options,
.select2-container--adwitt-time .select2-results > .select2-results__options {
  max-height: 199px;
  position: relative;
}
.select2-container--adwitt .select2-results > .select2-results__options .select2-results__option,
.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 6px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.select2-container--adwitt .select2-results > .select2-results__options li,
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 1px solid #c1c1c1;
}
.select2-container--adwitt .select2-results > .select2-results__options li:nth-last-of-type(1),
.select2-container--adwitt-time .select2-results > .select2-results__options li:nth-last-of-type(1) {
  border-bottom: 0 none;
}

.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 25px;
  padding: 0 12px 0 6px;
}
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 0 none;
}

.select2-container--disabled .select2-selection--single {
  background-color: #eeeeee;
  cursor: default;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container > .ps-scrollbar-y-rail {
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
  right: 0;
  width: 12px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 0.4;
  right: 2px;
  width: 8px;
}
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #fff;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #fff;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #3b5998;
  opacity: 1;
}

.tooltipster-base {
  border-radius: 5px;
}
.tooltipster-base .tooltipster-content {
  font-size: 12px;
  padding: 10px;
}

.tooltipster-attention {
  background-color: #97b3ef;
}
.tooltipster-attention .tooltipster-content {
  line-height: 12px;
  color: #fff;
}

.tooltipster-info {
  background-color: #404040;
}
.tooltipster-info .tooltipster-content {
  line-height: 18px;
  color: #fff;
}

html,
body,
#wrap {
  height: 100%;
}

body > #wrap {
  height: auto;
  min-height: 100%;
}

body {
  font-size: 12px;
}

body,
button,
input,
textarea {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif;
}

.wrap {
  min-width: 1440px;
  background-color: #e7e7e7;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
  padding: 0 8px;
  line-height: 23px;
  background-color: #fff;
}
input[type='text'][data-type="date"],
input[type='password'][data-type="date"],
input[type='number'][data-type="date"] {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-calendar.png);
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  padding-right: 22px;
}
input[type='text'][data-type="time"],
input[type='password'][data-type="time"],
input[type='number'][data-type="time"] {
  width: 32px;
}

button {
  cursor: pointer;
  padding: 0;
}

.container {
  *zoom: 1;
  padding: 0 55px;
}
.container:before, .container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.container .container__title {
  -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0 10px;
  margin-top: 120px;
}
.container .container__title h2 {
  color: #3b5998;
  font-size: 19px;
  line-height: 45px;
}
.container .container__title h2 span {
  vertical-align: top;
}
.container .container__title h2 img {
  vertical-align: middle;
}
.container .contents {
  -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
}
.container .contents.data-wrap {
  padding: 0;
}
.container .contents .contents__heading {
  position: relative;
}
.container .contents .contents__title h3 {
  color: #3b5998;
  font-size: 17px;
  font-weight: 400;
}

.caution-inactive-data {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 20px;
  text-align: center;
}
.caution-inactive-data .fa {
  color: #a5a5a5;
  font-size: 74px;
}

.popup-columns-download {
  border: 1px solid #666;
  left: 100px;
  position: absolute;
  width: 180px;
}
.popup-columns-download .fa-check {
  color: #666;
  display: none;
  left: 10px;
  position: absolute;
  top: 10px;
}
.popup-columns-download .btn-delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 8px;
}
.popup-columns-download li {
  border-top: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}
.popup-columns-download li a {
  color: #666;
  display: block;
  padding: 10px 20px 10px 30px;
}
.popup-columns-download li:first-child {
  border-top: 0 none;
}
.popup-columns-download li:hover {
  background-color: #3b5998;
}
.popup-columns-download li:hover a {
  color: #fff;
}
.popup-columns-download li:hover .btn-delete {
  color: #fff;
  display: block;
}
.popup-columns-download li:hover .fa-check {
  color: #fff;
}
.popup-columns-download li.active .fa-check {
  display: block;
}

.show-detail__section {
  margin-top: 20px;
  position: relative;
}
.show-detail__section .btn-show-detail {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-bot-white.png) no-repeat right 15px top 50% #3b5998;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}
.show-detail__section .btn-show-detail.active {
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-top.png);
}
.show-detail__section .dashboard-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 26px;
  padding: 0 4%;
  width: 100%;
  z-index: 10;
}
.show-detail__section .dashboard-list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  height: 28px;
}
.show-detail__section .dashboard-list li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  color: #404040;
  display: block;
  height: 100%;
  line-height: 28px;
  text-align: center;
}
.show-detail__section .dashboard-list li a:hover {
  background-color: #dde3f0;
}

.data-wrap {
  display: none;
  position: relative;
}
.data-wrap .data-heading {
  background-color: #3b5998;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
}
.data-wrap .data-heading p {
  color: #fff;
  font-size: 17px;
  line-height: 45px;
}
.data-wrap .btn_view_campaigns,
.data-wrap .img-roll {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 10;
}
.data-wrap .btn_view_campaigns a,
.data-wrap .img-roll a {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 0;
  text-align: center;
  width: 140px;
}
.data-wrap .data-content {
  background-color: #fff;
  padding: 10px 40px;
}
.data-wrap .data-content .graph-wrap {
  padding: 20px 0 0;
}
.data-wrap .data-content .graph-wrap .left-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  width: 25%;
}
.data-wrap .data-content .graph-wrap .left-col .fa {
  cursor: help;
  margin-left: 5px;
}
.data-wrap .data-content .graph-wrap .left-col .total-budget__text,
.data-wrap .data-content .graph-wrap .left-col .spent__text,
.data-wrap .data-content .graph-wrap .left-col .period-spent__text {
  position: relative;
}
.data-wrap .data-content .graph-wrap .left-col .total-budget__text span,
.data-wrap .data-content .graph-wrap .left-col .spent__text span,
.data-wrap .data-content .graph-wrap .left-col .period-spent__text span {
  vertical-align: middle;
}
.data-wrap .data-content .graph-wrap .left-col .total-budget__text .key,
.data-wrap .data-content .graph-wrap .left-col .spent__text .key,
.data-wrap .data-content .graph-wrap .left-col .period-spent__text .key {
  font-size: 12px;
}
.data-wrap .data-content .graph-wrap .left-col .total-budget__text .value,
.data-wrap .data-content .graph-wrap .left-col .spent__text .value,
.data-wrap .data-content .graph-wrap .left-col .period-spent__text .value {
  color: #3b5998;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  right: 0;
}
.data-wrap .data-content .graph-wrap .left-col .total-budget__text {
  border-bottom: 1px solid #ddd;
  line-height: 45px;
  margin-bottom: 10px;
}
.data-wrap .data-content .graph-wrap .left-col .spent__text,
.data-wrap .data-content .graph-wrap .left-col .period-spent__text {
  line-height: 24px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap {
  background: url(http://file.adwitt.tw/images_v1/bg/money.png) no-repeat right top;
  margin-top: 20px;
  overflow: hidden;
  padding-top: 14px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  height: 14px;
  margin-top: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar .spend-money {
  background-color: #3b5998;
  float: left;
  height: 100%;
  width: 50%;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar .remain-money {
  float: left;
  height: 100%;
  width: 50%;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text {
  color: #2c4987;
  float: left;
  font-size: 11px;
  line-height: 13px;
  margin-top: 5px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #2c4987;
  display: inline-block;
  height: 12px;
  margin-right: 5px;
  vertical-align: top;
  width: 16px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text {
  color: #2c4987;
  float: right;
  font-size: 11px;
  line-height: 13px;
  margin-top: 5px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  display: inline-block;
  height: 12px;
  margin-right: 5px;
  vertical-align: top;
  width: 16px;
}
.data-wrap .data-content .graph-wrap .right-col {
  float: left;
  width: 75%;
}
.data-wrap .data-content .graph-wrap .right-col .top-row {
  position: relative;
}
.data-wrap .data-content .graph-wrap .right-col .top-row .show-detail {
  bottom: 0;
  position: absolute;
  right: 0;
}
.data-wrap .data-content .graph-wrap .right-col .top-bot {
  display: none;
}
.data-wrap .data-content .table-wrap {
  position: relative;
}
.data-wrap .data-content .table-wrap .table-heading {
  color: #2c4987;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.data-wrap .data-content .table-wrap .table-content {
  display: none;
}
.data-wrap .data-content .table-wrap .table-content .edit-columns {
  height: 40px;
  margin-top: 10px;
  text-align: right;
}
.data-wrap .data-content .table-wrap .table-content .edit-columns .btn-edit-columns {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #3b5998;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  margin-right: 10px;
  padding: 3px 25px;
}
.data-wrap .data-content .table-wrap .table-content table {
  text-align: center;
  width: 100%;
}
.data-wrap .data-content .table-wrap .table-content table th {
  border-bottom: 2px solid #3b5998;
  border-bottom: 1px solid #c1c1c1;
  border-top: 2px solid #3b5998;
  color: #3b5998;
  height: 34px;
}
.data-wrap .data-content .table-wrap .table-content table td {
  border-bottom: 1px solid #c1c1c1;
  color: #777;
  height: 34px;
}

.rpl_save-popup {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  padding: 10px;
  position: absolute;
  width: 440px;
}
.rpl_save-popup:after {
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
  content: '';
  height: 10px;
  position: absolute;
  right: 70px;
  top: -10px;
  width: 10px;
}
.rpl_save-popup .popup-heading {
  background-color: #3b5998;
  color: #fff;
  line-height: 30px;
  padding-left: 10px;
}
.rpl_save-popup .popup-content {
  line-height: 18px;
  padding: 20px;
}
.rpl_save-popup .button-wrap {
  padding: 20px;
  text-align: right;
}
.rpl_save-popup .button-wrap input[type='text'] {
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
}
.rpl_save-popup .btn-close {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  background-image: url("http://file.adwitt.tw/images_v1/button/btn-pop-close.png");
  height: 9px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 9px;
  text-indent: -9999px;
}
.rpl_save-popup .btn-save {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3b5998;
  border-radius: 12.5px;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 60px;
}

.setting-tooltip {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  color: #777;
  display: none;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  padding: 20px 15px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 321px;
  z-index: 1;
}

.setting-tooltip dt {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.setting-tooltip dd {
  line-height: 15px;
}

.setting-tooltip .input-wrap {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  line-height: 21px;
  margin-top: 10px;
  padding: 5px 0;
}

.setting-tooltip .setting-tooltip-arrow {
  bottom: -11px;
  left: 280px;
  position: absolute;
}

.setting-tooltip .top {
  padding-bottom: 5px;
}

.setting-tooltip .bot {
  padding-top: 5px;
}

.btn-align-center {
  text-align: center;
}

.ajax_loading {
  display: none;
  float: right;
  margin-top: -4px;
}

.btnDate {
  margin-left: 20px;
}
.btnDate label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  border: 1px solid #cacaca;
  border-radius: 15px;
  height: 25px;
  line-height: 25px;
  padding-right: 7px;
}
.btnDate label:nth-of-type(1) {
  margin-left: 0;
}
.btnDate input[type='checkbox'],
.btnDate input[type='radio'] {
  display: none;
}
.btnDate input[type='checkbox']:checked + label:after,
.btnDate input[type='radio']:checked + label:after {
  background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png");
}
.btnDate input[type='checkbox']:disabled + label:after,
.btnDate input[type='radio']:disabled + label:after {
  background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png");
}
.btnDate input[type='checkbox'] + label,
.btnDate input[type='radio'] + label {
  position: relative;
  padding-left: 26px;
}
.btnDate input[type='checkbox'] + label:before,
.btnDate input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 8px;
}
.btnDate input[type='checkbox'] + label:after,
.btnDate input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 9px;
  margin-top: -7px;
  top: 50%;
}
.btnDate input[type='checkbox'] + label:before {
  background-image: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png");
  height: 11px;
  width: 11px;
}
.btnDate input[type='radio'] + label:before {
  background-image: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png");
  height: 13px;
  width: 13px;
}

.datatable_checkbox label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  line-height: 25px;
  height: 25px;
}
.datatable_checkbox label:nth-of-type(1) {
  margin-left: 0;
}
.datatable_checkbox input[type='checkbox'],
.datatable_checkbox input[type='radio'] {
  display: none;
}
.datatable_checkbox input[type='checkbox']:checked + label:after,
.datatable_checkbox input[type='radio']:checked + label:after {
  background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png");
}
.datatable_checkbox input[type='checkbox']:disabled + label:after,
.datatable_checkbox input[type='radio']:disabled + label:after {
  background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png");
}
.datatable_checkbox input[type='checkbox'] + label,
.datatable_checkbox input[type='radio'] + label {
  position: relative;
  padding-left: 16px;
}
.datatable_checkbox input[type='checkbox'] + label:before,
.datatable_checkbox input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.datatable_checkbox input[type='checkbox'] + label:after,
.datatable_checkbox input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 7px;
}
.datatable_checkbox input[type='checkbox'] + label:before {
  background-image: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png");
  height: 11px;
  width: 11px;
}
.datatable_checkbox input[type='radio'] + label:before {
  background-image: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png");
  height: 13px;
  width: 13px;
}

.tableType1 {
  width: 100%;
}
.tableType1 th {
  color: #3b5998;
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  text-align: left;
}
.tableType1 td {
  padding-left: 13px;
}
.tableType1 tr:first-child th,
.tableType1 tr:first-child td {
  border-top: 0 none;
}

.tableType2 {
  margin-top: 10px;
  min-width: 1250px;
  width: 100%;
}
.tableType2 tr th:first-child {
  width: 22px;
}
.tableType2 tr:first-child td {
  border-top: 1px solid #c1c1c1;
}
.tableType2 th {
  border-bottom: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  color: #3b5998;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.tableType2 td {
  border-bottom: 1px solid #c1c1c1;
  color: #777;
  font-size: 12px;
  text-align: center;
}
.tableType2 td.tdIndex2 {
  padding-left: 10px;
  text-align: left;
}

.manage-delete-wrap {
  position: absolute;
  background-color: #fff;
  display: none;
  border: 1px solid #d3d4d5;
  padding: 15px 30px;
}

.manage-delete-wrap .arrow-right {
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-right.png) no-repeat 0 0;
  width: 10px;
  height: 13px;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -7px;
}

.manage-delete-wrap .arrow-left {
  background: url(http://file.adwitt.tw/images_v1/bg/arrow.png) no-repeat 0 0;
  width: 10px;
  height: 13px;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -7px;
}

.manage-delete-wrap .btn-pause, .manage-delete-wrap .btn-delete {
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
  background-color: #3b5985;
  border: 1px solid #3b5985;
}

.manage-delete-wrap .btn-pause {
  margin-right: 10px;
}

.manage-delete-wrap .btn-pause:hover {
  background-color: #4c70ba;
  border: 1px solid #4c70ba;
}

.manage-delete-wrap .btn-pause:active {
  background-color: #2d4373;
  border: 1px solid #2d4373;
}

.manage-delete-wrap .btn-delete:hover {
  background-color: #4c70ba;
  border: 1px solid #4c70ba;
}

.manage-delete-wrap .btn-delete:active {
  background-color: #2d4373;
  border: 1px solid #2d4373;
}

.manage-delete-wrap .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn-tiny {
  padding: 4px 8px;
}

.btn-blue {
  background: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
}

.btn-blue:hover {
  background-color: #4c70ba;
  border: 1px solid #4c70ba;
}

.btn-blue:active,
.btn-blue.active {
  background-color: #2d4373;
  border: 1px solid #2d4373;
}

.btn-gray {
  background: #777;
  border: 1px solid #777;
  color: #fff;
}

.btn-gray:hover {
  background-color: #919191;
  border: 1px solid #919191;
}

.btn-gray:active,
.btn-gray.active {
  background-color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.btnT1 {
  background: #3b5998;
  border: 0 none;
  border-radius: 15px;
  color: #fff;
}
.btnT1.btnBigS {
  border-radius: 15px;
}
.btnT1.btnPrint {
  height: 25px;
  width: 72px;
}
.btnT1.btnReport {
  font-size: 11px;
  padding: 3px 20px;
}

.btnT2 {
  background: #777;
  border: 0 none;
  border-radius: 15px;
  color: #fff;
}
.btnT2.btnBigS {
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  box-shadow: 1px 1px 0 #6b6b6b inset, 2px 2px 0 #737373 inset;
}

.btnT3 {
  background: #999;
  border: 0 none;
  box-shadow: 1px 1px 0 #8e8e8e inset, 2px 2px 0 #959595 inset;
  color: #fff;
}
.btnT3.btnReport {
  border-radius: 15px;
  font-size: 11px;
  padding: 3px 20px;
}

.btnBigS {
  font-size: 15px;
  padding: 4px 0;
  width: 100px;
}

.btnMEDV {
  border-radius: 15px;
  font-size: 11px;
  padding: 3px 20px;
}

.btnSmallS {
  padding: 4px 12px;
}

.btn-tiny {
  padding: 4px 8px;
}

.btn-blue {
  background: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 25px;
  color: #fff;
}

.btn-blue:hover {
  background-color: #4c70ba;
  border: 1px solid #4c70ba;
}

.btn-blue:active,
.btn-blue.active {
  background-color: #2d4373;
  border: 1px solid #2d4373;
}

.btn-gray {
  background: #777;
  border: 1px solid #777;
  color: #fff;
}

.btn-gray:hover {
  background-color: #919191;
  border: 1px solid #919191;
}

.btn-gray:active,
.btn-gray.active {
  background-color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.btn-align-center {
  text-align: center;
}

.btnAlignWrap {
  margin-top: 20px;
  text-align: center;
}

.btnAlignWrap button {
  margin-left: 10px;
}

.btnAlignWrap button:first-child {
  margin-left: 0;
}

/* 광고타입 버튼 */
.container .contents .tableType1 li > a {
  border: 1px solid #c6c6c6;
  border-radius: 30px;
  overflow: hidden;
  display: block;
  width: 272px;
  height: 42px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  color: #404040;
  box-sizing: border-box;
  letter-spacing: 0;
  font-size: 14px;
  text-decoration: none;
}

.container .contents .tableType1 .depth-1 {
  float: left;
  position: relative;
  margin-left: 10px;
}

.container .contents .tableType1 .page_like:after,
.container .contents .tableType1 .page_post_engagement:after,
.container .contents .tableType1 .image-post:after,
.container .contents .tableType1 .video_views:after,
.container .contents .tableType1 .offer-claim:after,
.container .contents .tableType1 .website_clicks:after,
.container .contents .tableType1 .website_conversions:after,
.container .contents .tableType1 .multi-product:after,
.container .contents .tableType1 .app-install:after,
.container .contents .tableType1 .app-multi-install:after,
.container .contents .tableType1 .app-engagement:after,
.container .contents .tableType1 .app-multi-engagement:after,
.container .contents .tableType1 .event-response:after,
.container .contents .tableType1 .product_catalogue_sales:after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-campaign.png);
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 2px;
}
.container .contents .tableType1 .page_like:after {
    background-position: -18px -48px;
    vertical-align: -1px;
}

.container .contents .tableType1 .page_post_engagement:after {
  background-position: -54px -48px;
  vertical-align: -5px;
}

.container .contents .tableType1 .image-post:after {
  background-position: -18px -16px;
}

.container .contents .tableType1 .video_views:after {
  background-position: -18px -64px;
  vertical-align: -4px;
}

.container .contents .tableType1 .offer-claim:after {
  background-position: -54px -32px;
  vertical-align: -2px;
}

.container .contents .tableType1 .website_clicks:after {
  background-position: -54px -64px;
  vertical-align: -2px;
}

.container .contents .tableType1 .website_conversions:after {
  background-position: -18px 0;
}

.container .contents .tableType1 .multi-product:after {
  background-position: -18px -32px;
}

.container .contents .tableType1 .product_catalogue_sales:after {
  background-position: -54px -81px;
}

.container .contents .tableType1 .app-install:after {
  background-position: -54px -16px;
  vertical-align: -3px;
}

.container .contents .tableType1 .app-multi-install:after {
  background-position: -105px -95px;
  width: 21px;
  height: 20px;
}

.container .contents .tableType1 .app-engagement:after {
  background-position: -54px 0;
}

.container .contents .tableType1 .app-multi-engagement:after {
  background-position: -63px -95px;
  width: 20px;
  height: 20px;
}

.container .contents .tableType1 .event-response:after {
  background-position: -16px -81px;
}

.container .contents .prev_btn,
.container .contents .next_btn {
    display: block;
    width: 10px;
    height: 14px;
    top: 50%;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: -7px;
}
.container .contents .prev_btn {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_prev_404040_10x14.png);
  left: -20px;
}
.container .contents .next_btn {
  background-image: url(http://file.adwitt.tw/images_v1/button/btn_next_404040_10x14.png);
  right: -20px;
}

.data-content .table-content .edit-columns {
    height: 40px;
    margin-top: 10px;
    text-align: right;
}

.data-content .table-content .edit-columns .btn-edit-columns {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #3b5998;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  margin-right: 10px;
  padding: 3px 25px;
}

.data-content .table-content table {
    text-align: center;
    width: 100%;
}


.data-content .table-content .edit-columns {
  height: 40px;
  margin-top: 10px;
  text-align: right;
}
.data-content .table-content .edit-columns .btn-edit-columns {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #3b5998;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  margin-right: 10px;
  padding: 3px 25px;
}

.data-content .table-content table th {
  border-bottom: 2px solid #3b5998;
  border-bottom: 1px solid #c1c1c1;
  border-top: 2px solid #3b5998;
  color: #3b5998;
  height: 34px;
}
.data-content .table-content table td {
  border-bottom: 1px solid #c1c1c1;
  color: #777;
  height: 34px;
}

table.dataTable.no-footer {
    margin-bottom: 20px;
    border-bottom: 2px solid #3b5998;
}

.data-content .table-content p .key {
    padding-right: 30px;
}
.container .container__title .dashboard_setting {
    position: absolute;
    right: 80px;
}

/* start dashboard_dim.css */
.ajax-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.5);
}
.ajax-loading img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -62px;
    margin-left: -84px;
}
/* end dashboard_dim.css */
