@charset "UTF-8";


/* body, button {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", "돋움", Dotum, Tahoma, Sans-serif;
  font-size: 13px;
} */

.popup-edit-column {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  z-index: 100;
  box-sizing: border-box;
  width: 960px;
  position: relative;
}
.popup-edit-column .popup-header {
  background-color: #3b5998;
  height: 45px;
}
.popup-edit-column .popup-header h5 {
  font-size: 15px;
  color: #fff;
  text-indent: 20px;
  line-height: 45px;
}
.popup-edit-column .popup-footer {
  text-align: center;
  padding-top: 35px;
  border-top: 2px solid #3b5998;
}
.popup-edit-column .popup-footer button:nth-child(2) {
  margin-left: 10px;
}
.popup-edit-column .btn-popup-close {
  display: block;
  position: absolute;

  width: 13px;
  height: 13px;
  background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png");
  right: 38px;
  top: 37px;
  text-indent: -9999px;
  overflow: hidden;
}
.popup-edit-column .popup-container {
  *zoom: 1;
  padding: 30px 15px;
}
.popup-edit-column .popup-container:before, .popup-edit-column .popup-container:after {
  display: table;
  content: '';
}
.popup-edit-column .popup-container:after {
  clear: both;
}
.popup-edit-column .metrics-list-box .general-metric-list label,
.popup-edit-column .metrics-list-box .cost-per-list label {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 40px;
  box-sizing: border-box;
}
.popup-edit-column .metrics-list-box .general-metric-list label:before,
.popup-edit-column .metrics-list-box .cost-per-list label:before {
  background: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png") 0 0 no-repeat;
  width: 11px;
  height: 11px;
}
.popup-edit-column .metrics-list-box .general-metric-list label:before, .popup-edit-column .metrics-list-box .general-metric-list label:after,
.popup-edit-column .metrics-list-box .cost-per-list label:before,
.popup-edit-column .metrics-list-box .cost-per-list label:after {
  display: block;
  content: "";
  position: absolute;
}
.popup-edit-column .metrics-list-box .general-metric-list label:after,
.popup-edit-column .metrics-list-box .cost-per-list label:after {
  background: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png") 0 0 no-repeat;
  width: 13px;
  height: 10px;
  display: none;
}
.popup-edit-column .metrics-list-box .general-metric-list label input,
.popup-edit-column .metrics-list-box .cost-per-list label input {
  width: 0;
  height: 0;
  text-indent: -9999em;
  overflow: hidden;
  display: none;
}
.popup-edit-column .metrics-list-box .general-metric-list label.check:after,
.popup-edit-column .metrics-list-box .cost-per-list label.check:after {
  display: block;
}
.popup-edit-column .metrics-list-box .general-metric-list label:before, .popup-edit-column .metrics-list-box .general-metric-list label:after,
.popup-edit-column .metrics-list-box .cost-per-list label:before,
.popup-edit-column .metrics-list-box .cost-per-list label:after {
  top: 10px;
  left: 20px;
}
.popup-edit-column .column-ui .check-column .level label,
.popup-edit-column .column-ui .check-column .attr-window label {
  padding-left: 27px;
}
.popup-edit-column .column-ui .check-column .level label:before, .popup-edit-column .column-ui .check-column .level label:after,
.popup-edit-column .column-ui .check-column .attr-window label:before,
.popup-edit-column .column-ui .check-column .attr-window label:after {
  top: 2px;
  left: 10px;
}
.popup-edit-column .column-ui .check-column .level label {
  position: relative;
  cursor: pointer;
}
.popup-edit-column .column-ui .check-column .level label:before {
/*   background: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png") 0 0 no-repeat; */
/*   width: 13px; */
/*   height: 13px; */
  background: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png") 0 0 no-repeat;
  width: 11px;
  height: 11px;
}
.popup-edit-column .column-ui .check-column .level label:before, .popup-edit-column .column-ui .check-column .level label:after {
  display: block;
  content: "";
  position: absolute;
}
.popup-edit-column .column-ui .check-column .level label:after {
  background: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png") 0 0 no-repeat;
  width: 13px;
  height: 10px;
  display: none;
}
.popup-edit-column .column-ui .check-column .level label input {
  width: 0;
  height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
.popup-edit-column .column-ui .check-column .level label.check:after {
  display: block;
}
.popup-edit-column .column-ui .check-column .attr-window label {
  position: relative;
  cursor: pointer;
}
.popup-edit-column .column-ui .check-column .attr-window label:before {
  background: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png") 0 0 no-repeat;
  width: 11px;
  height: 11px;
}
.popup-edit-column .column-ui .check-column .attr-window label:before, .popup-edit-column .column-ui .check-column .attr-window label:after {
  display: block;
  content: "";
  position: absolute;
}
.popup-edit-column .column-ui .check-column .attr-window label:after {
  background: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png") 0 0 no-repeat;
  width: 13px;
  height: 10px;
  display: none;
}
.popup-edit-column .column-ui .check-column .attr-window label input {
  width: 0;
  height: 0;
  text-indent: -9999em;
  overflow: hidden;
  display: none;
}
.popup-edit-column .column-ui .check-column .attr-window label.check:after {
  display: block;
}
.popup-edit-column .column-ui .breakdown label {
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}
.popup-edit-column .column-ui .breakdown label:before {
  background: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png") 0 0 no-repeat;
  width: 13px;
  height: 13px;
}
.popup-edit-column .column-ui .breakdown label:before, .popup-edit-column .column-ui .breakdown label:after {
  display: block;
  content: "";
  position: absolute;
}
.popup-edit-column .column-ui .breakdown label:after {
  background: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png") 0 0 no-repeat;
  width: 13px;
  height: 10px;
  display: none;
}
.popup-edit-column .column-ui .breakdown label input {
  width: 0;
  height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
.popup-edit-column .column-ui .breakdown label.check:after {
  display: block;
}
.popup-edit-column .column-ui .breakdown label:before, .popup-edit-column .column-ui .breakdown label:after {
  top: 0px;
  left: 10px;
}
.popup-edit-column .metrics {
  *zoom: 1;
}
.popup-edit-column .metrics:before, .popup-edit-column .metrics:after {
  display: table;
  content: '';
}
.popup-edit-column .metrics:after {
  clear: both;
}
.popup-edit-column .metrics .metrics-list {
  *zoom: 1;
  float: left;
  width: 644px;
  position: relative;
}
.popup-edit-column .metrics .metrics-list:before, .popup-edit-column .metrics .metrics-list:after {
  display: table;
  content: '';
}
.popup-edit-column .metrics .metrics-list:after {
  clear: both;
}
.popup-edit-column .metrics .metrics-list .metrics-list-search {
  position: relative;
  margin-bottom: 14px;
}
.popup-edit-column .metrics .metrics-list .metrics-list-search .search-bar {
  width: 100%;
  border: 1px solid #d7d7d7;
  height: 25px;
  padding-left: 10px;
  background: url("http://file.adwitt.tw/images_v1/icon/icon_search-b7b7b7-16x15.png") right 8px top 5px no-repeat;
}
.popup-edit-column .metrics .metrics-list .metrics-list-search .btn-search-close {
  position: absolute;
  right: 8px;
  top: 6px;
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  background: #fff url("http://file.adwitt.tw/images_v1/button/btn_close-b7b7b7-13x13.png") 5px 3px no-repeat;
  -webkit-background-size: 10px;
  background-size: 10px;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab {
  font-size: 0;
  border-bottom: 1px solid #ddd;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab li {
  display: inline-block;
  margin-left: 1px;
  width: 160px;
  box-sizing: border-box;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab li:first-child {
  margin-left: 0;
  width:159px;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab a {
  display: block;
  background-color: #e4e4e4;
  color: #3b5998;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab .active a {
  background-color: #3b5998;
  color: #fff;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab li a {
  border-radius: 5px 5px 0 0;
}
.popup-edit-column .metrics .metrics-list .metrics-list-tab .number {
  background-color: #fff;
  border-radius: 50%;
  color: #3b5998;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: -2px;
}
.popup-edit-column .metrics .metrics-list .metrics-list-title {
  margin-top: 9px;
  *zoom: 1;
}
.popup-edit-column .metrics .metrics-list .metrics-list-title:before, .popup-edit-column .metrics .metrics-list .metrics-list-title:after {
  display: table;
  content: '';
}
.popup-edit-column .metrics .metrics-list .metrics-list-title:after {
  clear: both;
}
.popup-edit-column .metrics .metrics-list .metrics-list-title li {
  float: left;
  width: 319px;
  background-color: #f2f2f2;
  margin-left: 6px;
  position: relative;
  color: #3b5998;
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}
.popup-edit-column .metrics .metrics-list .metrics-list-title li:first-child {
  margin-left: 0;
}
.popup-edit-column .metrics .metrics-list .metrics-list-title li:after {
  content: "";
  width: 319px;
  height: 6px;
  background: #f2f2f2;
  position: absolute;
  top: 328px;
  left: 0;
  border-top: 1px solid #dfdfdf;
}
.popup-edit-column .metrics .metrics-list .metrics-list-box {
  min-height: 291px;
  height: 291px;
  position: relative;
}
.popup-edit-column .metrics .metrics-list .general-metric-list,
.popup-edit-column .metrics .metrics-list .cost-per-list {
  border-bottom: 1px solid #dfdfdf;
  line-height: 29px;
  cursor: pointer;
}
.popup-edit-column .metrics .metrics-list .general-metric-list:hover,
.popup-edit-column .metrics .metrics-list .cost-per-list:hover {
  background-color: #dde3f0;
}
.popup-edit-column .metrics .metrics-list .general-metric-list {
  width: 320px;
  position: relative;
}
.popup-edit-column .metrics .metrics-list .general-metric-list:after {
  background: #fff;
  width: 6px;
  height: 30px;
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 0px;
}
.popup-edit-column .metrics .metrics-list .cost-per-list {
  width: 306px;
  padding-right: 13px;
}
.popup-edit-column .metrics .metrics-preview {
  float: right;
  width: 200px;
}
.popup-edit-column .metrics .metrics-preview .title {
  background: #3b5998;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 7px solid #e4e4e4;
}
.popup-edit-column .metrics .metrics-preview .select-edit-col {
  padding-left: 5px;
}
.popup-edit-column .metrics .metrics-preview .select-number {
  padding: 19px 0;
  color: #b0b0b0;
}
.popup-edit-column .metrics .metrics-preview .select-number strong {
  background: #3b5998;
  color: #fff;
  margin-right: 5px;
  padding: 0px 5px;
  border-radius: 8px;
}
.popup-edit-column .metrics .metrics-preview .select-list {
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  min-height: 205px;
  max-height: 305px;
  position: relative;
}
.popup-edit-column .metrics .metrics-preview .select-list .list {
  position: relative;
  /* overflow-y: auto;
  overflow-x: hidden; */
  /* min-height: 205px;
  max-height: 355px; */
  margin-top: -10px;
}
.popup-edit-column .metrics .metrics-preview .select-list .list.report li {
  width: 147px;
}
.popup-edit-column .metrics .metrics-preview .select-list .list li {
  width: 153px;
  background: #e4e4e4;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  padding-left: 11px;
  margin-top: 10px;
  color: #404040;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 21px;
}
.popup-edit-column .metrics .metrics-preview .select-list .list li button {
  position: absolute;
  top: 6px;
  right: 8px;
  background: url("http://file.adwitt.tw/images_v1/button/btn-close-8x8.png") 0 0 no-repeat;
  text-indent: -9999em;
  width: 8px;
  height: 8px;
}
.popup-edit-column .metrics .metrics-preview .message {
	position: absolute;
  margin-top: 20px;
  width: 200px;
}
.popup-edit-column .metrics .metrics-preview .message p {
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  margin-bottom: 10px;
  background: url("http://file.adwitt.tw/images_v1/icon/icon_bull-3b5998-3x3.png") 0 6px no-repeat;
}
.popup-edit-column .column-ui {
  margin-top: 35px;
  font-size: 12px;
}
.popup-edit-column .column-ui.report-column .level,
.popup-edit-column .column-ui.report-column .breakdown {
  display: none;
}
.popup-edit-column .column-ui.report-column .check-column {
  border: 0 none;
  width: 100%;
}
.popup-edit-column .column-ui.report-column .attr-window .clicking,
.popup-edit-column .column-ui.report-column .attr-window .viewing {
  float: left;
  width: 320px;
}
.popup-edit-column .column-ui.report-column .type {
  padding: 10px 0;
}
.popup-edit-column .column-ui.report-column .attr-window .clicking {
  border-right: 1px solid #b5b5b5;
}
.popup-edit-column .column-ui.report-column .attr-window .viewing {
  margin-left: 30px;
}
.popup-edit-column .column-ui:after, .popup-edit-column .column-ui:before {
  content: "";
  display: table;
}
.popup-edit-column .column-ui:after {
  clear: both;
}
.popup-edit-column .column-ui .title {
  font-size: 15px;
  color: #3b5998;
  font-weight: 600;
  margin-bottom: 8px;
}
.popup-edit-column .column-ui strong {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
}
.popup-edit-column .column-ui .type {
  display: inline-block;
  padding-bottom: 5px;
}
.popup-edit-column .column-ui .check-column {
  float: left;
  border-right: 1px solid #b5b5b5;
  width: 320px;
}
.popup-edit-column .column-ui .attr-window .title {
  margin-top: 15px;
}
.popup-edit-column .column-ui .attr-window strong {
  width: 110px;
}
.popup-edit-column .column-ui .breakdown {
  float: left;
  padding-left: 35px;
  width: 480px;
}
.popup-edit-column .column-ui .breakdown strong {
  width: 55px;
  vertical-align: top;
}
.popup-edit-column .column-ui .breakdown .type {
  width: 421px;
  vertical-align: top;
}
.popup-edit-column .column-ui .breakdown .delivery {
  margin-bottom: 18px;
}
.popup-edit-column .column-ui .breakdown .delivery label {
  display: inline-block;
  margin-bottom: 10px;
}
.popup-edit-column .popup-footer {
  padding-top: 30px;
  padding-bottom: 10px;
}
.popup-edit-column .popup-footer button {
  background-color: #3b5998;
  border-radius: 12.5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  line-height: 25px;
}
.popup-edit-column .popup-footer button.btn-cancel {
  background-color: #ababab;
}
.nodisplay {
	display:none;
}

/* start editpopupdim.css */
#dim_editcol_group, #dim_dashboardset_group {
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
}

.dim_edit_column {
    left: 0;
    
}
/* end editpopupdim.css */