@charset "UTF-8";
.select2-container--adwitt .select2-selection--single, .select2-container--adwitt-time .select2-selection--single { border: 1px solid #c6c6c6; height: 25px; background-color: #fff; }
.select2-container--adwitt .select2-selection--single .select2-selection__rendered, .select2-container--adwitt-time .select2-selection--single .select2-selection__rendered { line-height: 25px; }
.select2-container--adwitt .select2-selection--single .select2-selection__arrow, .select2-container--adwitt-time .select2-selection--single .select2-selection__arrow { display: block; height: 100%; position: absolute; right: 0; top: 0; width: 23px; }
.select2-container--adwitt .select2-selection--single .select2-selection__arrow b, .select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_select-3b5998-9x6.png"); display: inline-block; height: 6px; position: absolute; right: 7px; top: 9px; width: 9px; }
.select2-container--adwitt .select2-dropdown, .select2-container--adwitt-time .select2-dropdown { border-radius: 0; }
.select2-container--adwitt.select2-container--open .select2-selection__rendered, .select2-container--adwitt-time.select2-container--open .select2-selection__rendered { background-color: #3b5998; color: #fff; outline: 0 none; }
.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_select-ffffff-9x6.png"); }
.select2-container--adwitt .select2-results__option[aria-selected=true], .select2-container--adwitt-time .select2-results__option[aria-selected=true] { background-color: #fff; }
.select2-container--adwitt .select2-results__option--highlighted[aria-selected], .select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] { background-color: #e0e6f2; color: #404040; }
.select2-container--adwitt .select2-results > .select2-results__options, .select2-container--adwitt-time .select2-results > .select2-results__options { max-height: 199px; position: relative; }
.select2-container--adwitt .select2-results > .select2-results__options .select2-results__option, .select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option { line-height: 24px; overflow: hidden; padding: 0 12px 0 6px; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; }
.select2-container--adwitt .select2-results > .select2-results__options li, .select2-container--adwitt-time .select2-results > .select2-results__options li { border-bottom: 1px solid #c1c1c1; }
.select2-container--adwitt .select2-results > .select2-results__options li:nth-last-of-type(1), .select2-container--adwitt-time .select2-results > .select2-results__options li:nth-last-of-type(1) { border-bottom: 0 none; }

.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option { line-height: 25px; padding: 0 12px 0 6px; }
.select2-container--adwitt-time .select2-results > .select2-results__options li { border-bottom: 0 none; }

.select2-container--disabled .select2-selection--single { background-color: #eeeeee; cursor: default; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail { background-color: #fff; }
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { background-color: #3b5998; opacity: 1; }
.ps-container > .ps-scrollbar-y-rail { background-color: #fff; border-radius: 0; opacity: 1; right: 0; width: 12px; }
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y { background-color: #3b5998; opacity: 0.4; right: 2px; width: 8px; }
.ps-container:hover.ps-in-scrolling { pointer-events: none; }
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail { background-color: #fff; }
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { background-color: #3b5998; opacity: 1; }
.ps-container:hover > .ps-scrollbar-y-rail { opacity: 1; }
.ps-container:hover > .ps-scrollbar-y-rail:hover { background-color: #fff; }
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y { background-color: #3b5998; opacity: 1; }

.tooltipster-base { border-radius: 5px; }
.tooltipster-base .tooltipster-content { font-size: 12px; padding: 10px; }

.tooltipster-attention { background-color: #97b3ef; }
.tooltipster-attention .tooltipster-content { line-height: 12px; color: #fff; }

.tooltipster-info { background-color: #404040; }
.tooltipster-info .tooltipster-content { line-height: 18px; color: #fff; }

.tooltipster-exclamation { background-color: #3b5998; }
.tooltipster-exclamation .tooltipster-content { line-height: 18px; color: #fff; }

html, body, #wrap { height: 100%; }

body > #wrap { height: auto; min-height: 100%; }

body { font-size: 12px; }

body, button, input, textarea { font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", sans-serif; }

.wrap { min-width: 1440px; background-color: #e7e7e7; }

input[type='text'], input[type='password'], input[type='number'], input[type='search'] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #c6c6c6; padding: 0 8px; min-height: 23px; line-height: 23px; background-color: #fff; }
input[type='text'][data-type="date"], input[type='password'][data-type="date"], input[type='number'][data-type="date"], input[type='search'][data-type="date"] { background-image: url("//file.adwitt.tw/images_v1/icon/icon-calendar.png"); background-repeat: no-repeat; background-position: right 5px top 50%; padding-right: 22px; }
input[type='text'][data-type="time"], input[type='password'][data-type="time"], input[type='number'][data-type="time"], input[type='search'][data-type="time"] { width: 32px; }
input[type='text'][data-type="search"], input[type='password'][data-type="search"], input[type='number'][data-type="search"], input[type='search'][data-type="search"] { background: url("http://file.adwitt.tw/images_v1/icon/icon_search-b7b7b7-16x15.png") no-repeat right 5px top 50%; padding-right: 25px; }

button { cursor: pointer; padding: 0; }

.container { *zoom: 1; padding: 0 55px; }
.container:before, .container:after { content: ''; display: table; }
.container:after { clear: both; }
.container .container__title { -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); border: 1px solid #ddd; background-color: #fff; padding: 0 10px; margin-top: 120px; }
.container .container__title h2 { color: #3b5998; font-size: 19px; line-height: 45px; }
.container .container__title h2 span { vertical-align: top; }
.container .container__title h2 img { vertical-align: middle; }
.container .contents { -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2); border: 1px solid #ddd; background-color: #fff; margin-top: 10px; padding: 20px; }
.container .contents.data-wrap { padding: 0; }
.container .contents .contents__heading { position: relative; }
.container .contents .contents__title h3 { color: #3b5998; font-size: 17px; font-weight: 400; }

.contents__heading { line-height: 42px; }
.contents__heading .button__box { position: absolute; right: 0; top: 0; }
.contents__heading .button__box .btn-create-audience { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #3b5998; border-radius: 11.5px; color: #fff; font-size: 12px; line-height: 23px; overflow: hidden; text-align: center; width: 122px; }
.contents__heading .button__box .btn-view-pixel-code { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 11.5px; color: #fff; font-size: 12px; line-height: 23px; overflow: hidden; text-align: center; width: 122px; }

.contents .content { border-top: 2px solid #3b5998; border-bottom: 2px solid #3b5998; }

.table--empty { border-top: 29px solid #f2f2f2; border-bottom: 6px solid #f2f2f2; }
.table--empty p { color: #ababab; line-height: 85px; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; text-align: center; }

.pixel--empty { height: 117px; position: relative; line-height: 28px; }
.pixel--empty .text { color: #ababab; font-size: 13px; }
.pixel--empty > div { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.pixel--empty .button__box { text-align: center; }
.pixel--empty .button__box .btn-create-pixel { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #3b5998; border-radius: 11.5px; color: #fff; font-size: 13px; line-height: 23px; overflow: hidden; text-align: center; width: 124px; }
.pixel--empty .button__box .btn-upload-pixel { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 11.5px; color: #fff; font-size: 12px; line-height: 23px; overflow: hidden; text-align: center; width: 122px; }

.state__text { font-size: 13px; }
.state__text[data-state="active"] { color: #3b5998; }
.state__text[data-state="inactive"] { color: #e86767; }
.state__text:before { display: inline-block; vertical-align: middle; content: '\00b7'; font-size: 50px; }
.state__text[data-state="default"]:before { color: #3b5998; }
.state__text-desc { padding-left: 7px; color: #636363; }

.custom-audience-pixel__table table { width: 100%; }
.custom-audience-pixel__table tr:last-child th, .custom-audience-pixel__table tr:last-child td { border-bottom: 0 none; }
.custom-audience-pixel__table th, .custom-audience-pixel__table td { border-bottom: 1px solid #dfdfdf; }
.custom-audience-pixel__table th { font-size: 15px; color: #3b5998; border-right: 1px solid #dfdfdf; text-align: left; width: 90px; height: 40px; text-indent: 20px; }
.custom-audience-pixel__table th:nth-child(3) { border-left: 1px solid #dfdfdf; }
.custom-audience-pixel__table td { font-size: 13px; padding-left: 20px; }
.custom-audience-pixel__table .pixel-value { vertical-align: middle; font-weight: 700; }
.custom-audience-pixel__table input[type="text"] { width: 200px; }
.custom-audience-pixel__table .btn-modify { overflow: hidden; text-indent: -9999px; width: 9px; height: 9px; background-image: url("http://file.adwitt.com/images_v1/button/btn_modify-404040-9x9.png"); }
.custom-audience-pixel__table .btn-ok { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 10px; color: #fff; font-size: 12px; line-height: 20px; overflow: hidden; text-align: center; width: 55px; }

.website-visitors__section .content { padding: 20px 23px 26px; max-height: 568px; overflow: auto; }
.website-visitors__section .content::-webkit-scrollbar { width: 7px; }
.website-visitors__section .content::-webkit-scrollbar-thumb { background-color: #adb9d4; border-radius: 6px; }
.website-visitors__section .content::-webkit-scrollbar-thumb:hover { background-color: #3b5998; }
.website-visitors__section .content::-webkit-scrollbar-track { background-color: white; }
.website-visitors__section .period__table table { width: 100%; }
.website-visitors__section .period__table th { font-size: 15px; color: #3b5998; width: 82px; text-align: left; }
.website-visitors__section .period__table .btn-ok { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #3b5998; border-radius: 11.5px; color: #fff; font-size: 12px; line-height: 23px; overflow: hidden; text-align: center; width: 71px; }
.website-visitors__section .period__table input[type="text"][data-type="date"] { width: 200px; }
.website-visitors__section .graph { margin-top: 20px; margin-bottom: 40px; position: relative; }
.website-visitors__section .graph .empty { background-color: #f0f0f0; padding-top: 65px; padding-bottom: 65px; }
.website-visitors__section .graph .empty p { line-height: 23px; text-align: center; font-size: 13px; }
.website-visitors__section .graph .empty p:nth-child(2) { color: #ababab; }
.website-visitors__section .tab-menu { border-bottom: 1px solid #ddd; font-size: 0; margin-bottom: 20px; }
.website-visitors__section .tab-menu li { box-sizing: border-box; display: inline-block; margin-left: 1px; width: 77px; }
.website-visitors__section .tab-menu li:first-child { margin-left: 0; }
.website-visitors__section .tab-menu a { background-color: #e4e4e4; border-radius: 5px 5px 0 0; color: #3b5998; display: block; font-size: 13px; height: 23px; line-height: 23px; text-align: center; text-decoration: none; }
.website-visitors__section .tab-menu .active a { background-color: #3b5998; color: #fff; }
.website-visitors__section .website-visitors__table table { width: 100%; }
.website-visitors__section .website-visitors__table table[data-row-number="2"] th:nth-child(1), .website-visitors__section .website-visitors__table table[data-row-number="2"] td:nth-child(1) { text-align: left; }
.website-visitors__section .website-visitors__table table[data-row-number="2"] th:nth-child(1) > div, .website-visitors__section .website-visitors__table table[data-row-number="2"] td:nth-child(1) > div { padding-left: 20px; }
.website-visitors__section .website-visitors__table table[data-row-number="2"] th:nth-child(2), .website-visitors__section .website-visitors__table table[data-row-number="2"] td:nth-child(2) { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: right; width: 314px; }
.website-visitors__section .website-visitors__table table[data-row-number="2"] th:nth-child(2) > div, .website-visitors__section .website-visitors__table table[data-row-number="2"] td:nth-child(2) > div { padding-right: 20px; }
.website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(1), .website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(2), .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(1), .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(2) { text-align: left; }
.website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(1) > div, .website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(2) > div, .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(1) > div, .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(2) > div { padding-left: 20px; }
.website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(1), .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(1) { width: 257px; }
.website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(3), .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(3) { text-align: right; width: 314px; }
.website-visitors__section .website-visitors__table table[data-row-number="3"] th:nth-child(3) > div, .website-visitors__section .website-visitors__table table[data-row-number="3"] td:nth-child(3) > div { padding-right: 20px; }
.website-visitors__section .website-visitors__table tr:last-child td > div:after { content: ""; display: block; position: absolute; left: 0; right: 0; bottom: -7px; border: 3px solid #f2f2f2; }
.website-visitors__section .website-visitors__table th > div, .website-visitors__section .website-visitors__table td > div { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #d3d3d3; position: relative; }
.website-visitors__section .website-visitors__table th:not(:nth-child(1)) > div, .website-visitors__section .website-visitors__table td:not(:nth-child(1)) > div { margin-left: 8px; }
.website-visitors__section .website-visitors__table th { line-height: 29px; font-size: 13px; font-weight: 700; }
.website-visitors__section .website-visitors__table th > div { background-color: #f2f2f2; }
.website-visitors__section .website-visitors__table td { line-height: 39px; }
.website-visitors__section .website-visitors__table td > div { height: 39px; }
.website-visitors__section .website-visitors__table .last-received__text { float: right; margin-right: 20px; color: #ababab; font-size: 12px; }

.view-custom-audience-pixel .text, .view-event-code .text, .create-custom-audience-pixel .text, .setup-conversions .text { color: #404040; font-size: 13px; line-height: 20px; margin-bottom: 10px; }
.view-custom-audience-pixel .popup-footer .btn-ok, .view-event-code .popup-footer .btn-ok, .create-custom-audience-pixel .popup-footer .btn-ok, .setup-conversions .popup-footer .btn-ok { background-color: #3b5998; }

.view-custom-audience-pixel .pixel-area textarea, .view-event-code .pixel-area textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #c6c6c6; padding: 8px; resize: none; width: 100%; }

.view-custom-audience-pixel .copy, .view-custom-audience-pixel .view, .setup-conversions .copy, .setup-conversions .view { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 10px; color: #fff; font-size: 12px; line-height: 20px; overflow: hidden; text-align: center; width: 55px; }
.view-custom-audience-pixel .title, .setup-conversions .title { margin-bottom: 10px; }
.view-custom-audience-pixel .title strong, .setup-conversions .title strong { color: #3b5998; font-size: 15px; line-height: 20px; vertical-align: middle; }
.view-custom-audience-pixel .add-conversion, .setup-conversions .add-conversion { margin-top: 25px; }
.view-custom-audience-pixel .add-conversion table, .setup-conversions .add-conversion table { border-collapse: separate; border-spacing: 6px 0; margin-left: -6px; width: 542px; }
.view-custom-audience-pixel .add-conversion th, .view-custom-audience-pixel .add-conversion td, .setup-conversions .add-conversion th, .setup-conversions .add-conversion td { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.view-custom-audience-pixel .add-conversion th, .setup-conversions .add-conversion th { background: #f2f2f2; border-bottom: 1px solid #d3d3d3; font-size: 13px; font-weight: 700; line-height: 29px; }
.view-custom-audience-pixel .add-conversion td, .setup-conversions .add-conversion td { border-top: 1px solid #dadada; line-height: 15px; padding-top: 10px; padding-bottom: 10px; }
.view-custom-audience-pixel .add-conversion td .view, .setup-conversions .add-conversion td .view { background-color: #ababab; }
.view-custom-audience-pixel .add-conversion .name, .view-custom-audience-pixel .add-conversion .description, .setup-conversions .add-conversion .name, .setup-conversions .add-conversion .description { padding-left: 10px; padding-right: 10px; text-align: left; vertical-align: top; }
.view-custom-audience-pixel .add-conversion .name, .setup-conversions .add-conversion .name { width: 105px; }
.view-custom-audience-pixel .add-conversion .description, .setup-conversions .add-conversion .description { width: 290px; }
.view-custom-audience-pixel .add-conversion .event, .setup-conversions .add-conversion .event { text-align: center; width: 134px; }
.view-custom-audience-pixel .add-conversion .view-content td, .setup-conversions .add-conversion .view-content td { border-top: 0 none; }
.view-custom-audience-pixel .add-conversion .search, .setup-conversions .add-conversion .search { /* 텍스트가 한줄일 때*/ }
.view-custom-audience-pixel .add-conversion .search td, .setup-conversions .add-conversion .search td { vertical-align: middle; }

.view-custom-audience-pixel { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; width: 602px; height: 752px; }
.view-custom-audience-pixel .popup-header { background-color: #3b5998; height: 45px; }
.view-custom-audience-pixel .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.view-custom-audience-pixel .popup-container { padding: 30px 15px; }
.view-custom-audience-pixel .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.view-custom-audience-pixel .popup-footer button:nth-child(2) { margin-left: 10px; }
.view-custom-audience-pixel .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.view-custom-audience-pixel .title .copy { margin-left: 5px; }
.view-custom-audience-pixel .conversion-layout th { position: relative; }
.view-custom-audience-pixel .conversion-layout th:after { background: #f2f2f2; border-top: 1px solid #dfdfdf; content: ''; display: block; height: 6px; left: 0; position: absolute; top: 173px; width: 100%; }
.view-custom-audience-pixel .conversion-content caption, .view-custom-audience-pixel .conversion-content thead { display: none; }
.view-custom-audience-pixel .conversion-content td { padding-right: 10px; }
.view-custom-audience-pixel .conversion-content-wrap { max-height: 142px; position: relative; width: 530px; }
.view-custom-audience-pixel .popup-footer button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #ababab; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }

.view-event-code { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; width: 602px; height: 424px; }
.view-event-code .popup-header { background-color: #3b5998; height: 45px; }
.view-event-code .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.view-event-code .popup-container { padding: 30px 15px; }
.view-event-code .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.view-event-code .popup-footer button:nth-child(2) { margin-left: 10px; }
.view-event-code .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.view-event-code .text .copy { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 10px; color: #fff; font-size: 12px; line-height: 20px; overflow: hidden; text-align: center; width: 55px; margin-left: 15px; }
.view-event-code .popup-footer button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #ababab; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }

.create-custom-audience-pixel { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; width: 602px; }
.create-custom-audience-pixel .popup-header { background-color: #3b5998; height: 45px; }
.create-custom-audience-pixel .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.create-custom-audience-pixel .popup-container { padding: 30px 15px; }
.create-custom-audience-pixel .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.create-custom-audience-pixel .popup-footer button:nth-child(2) { margin-left: 10px; }
.create-custom-audience-pixel .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.create-custom-audience-pixel .text a { color: #3b5998; text-decoration: underline; }
.create-custom-audience-pixel .pixel-name { margin-bottom: 45px; }
.create-custom-audience-pixel .pixel-name .title { display: inline-block; line-height: 25px; margin-bottom: 0; width: 110px; }
.create-custom-audience-pixel .pixel-name .title strong { color: #3b5998; font-size: 15px; line-height: 20px; vertical-align: middle; }
.create-custom-audience-pixel .pixel-name input[type='text'] { width: 417px; }
.create-custom-audience-pixel .popup-footer button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #ababab; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }

.setup-conversions { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; width: 602px; }
.setup-conversions .popup-header { background-color: #3b5998; height: 45px; }
.setup-conversions .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.setup-conversions .popup-container { padding: 30px 15px; }
.setup-conversions .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.setup-conversions .popup-footer button:nth-child(2) { margin-left: 10px; }
.setup-conversions .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.setup-conversions .add-conversion .registraion td { position: relative; }
.setup-conversions .add-conversion .registraion td.name:after { width: 100px; margin-right: 5px; }
.setup-conversions .add-conversion .registraion td.event:after { margin-left: 5px; }
.setup-conversions .add-conversion .registraion td:after { background: #f2f2f2; border-top: 1px solid #dfdfdf; content: ''; display: block; height: 6px; left: 0; position: absolute; bottom: -7px; width: 100%; }
.setup-conversions .conversion-content caption { display: none; }
.setup-conversions .popup-footer button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #ababab; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }

.website-custom-audience { background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; position: relative; left: 50%; margin-left: -301px; width: 602px; }
.website-custom-audience .popup-header { background-color: #3b5998; height: 45px; }
.website-custom-audience .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.website-custom-audience .popup-container { padding: 30px 15px; }
.website-custom-audience .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.website-custom-audience .popup-footer button:nth-child(2) { margin-left: 10px; }
.website-custom-audience .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.website-custom-audience label { background-color: transparent; box-sizing: border-box; cursor: pointer; display: inline-block; vertical-align: top; margin-left: 10px; line-height: 25px; height: 25px; }
.website-custom-audience label:nth-of-type(1) { margin-left: 0; }
.website-custom-audience input[type='checkbox'], .website-custom-audience input[type='radio'] { display: none; }
.website-custom-audience input[type='checkbox']:checked + label:after, .website-custom-audience input[type='radio']:checked + label:after { background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png"); }
.website-custom-audience input[type='checkbox']:disabled + label:after, .website-custom-audience input[type='radio']:disabled + label:after { background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png"); }
.website-custom-audience input[type='checkbox'] + label, .website-custom-audience input[type='radio'] + label { position: relative; padding-left: 16px; }
.website-custom-audience input[type='checkbox'] + label:before, .website-custom-audience input[type='radio'] + label:before { content: ''; display: inline-block; margin-top: -5px; position: absolute; top: 50%; vertical-align: top; left: 0; }
.website-custom-audience input[type='checkbox'] + label:after, .website-custom-audience input[type='radio'] + label:after { content: ''; display: block; height: 10px; position: absolute; width: 13px; left: 1px; top: 7px; }
.website-custom-audience input[type='checkbox'] + label:before { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png"); height: 11px; width: 11px; }
.website-custom-audience input[type='radio'] + label:before { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png"); height: 13px; width: 13px; }
.website-custom-audience .introduction .popup-container p { line-height: 15px; margin-top: 18px; }
.website-custom-audience .introduction .popup-container p:first-child { margin-top: 0; }
.website-custom-audience .introduction .popup-container input[type="checkbox"] + label { padding-left: 0; line-height: 15px; }
.website-custom-audience .introduction .popup-container input[type="checkbox"] + label:before, .website-custom-audience .introduction .popup-container input[type="checkbox"] + label:after { display: none; }
.website-custom-audience caption { display: none; }
.website-custom-audience .fa-info-circle { color: #404040; font-size: 13px; }
.website-custom-audience .website-custom-audience__table th { width: 110px; color: #3b5998; text-align: left; font-size: 15px; vertical-align: top; padding-top: 5px; }
.website-custom-audience .website-custom-audience__table td { font-size: 13px; padding-bottom: 7px; }
.website-custom-audience .website-custom-audience__table .name__tr input[type="text"], .website-custom-audience .website-custom-audience__table .description__tr input[type="text"] { width: 422px; }
.website-custom-audience .website-custom-audience__table .description__tr td { padding-bottom: 7px; }
.website-custom-audience .website-custom-audience__table .pixel { position: relative; }
.website-custom-audience .website-custom-audience__table .pixel .pixel__check { line-height: 25px; }
.website-custom-audience .website-custom-audience__table .pixel .pixel--viewer .copy__button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #404040; border-radius: 10px; color: #fff; font-size: 12px; line-height: 20px; overflow: hidden; text-align: center; width: 55px; position: absolute; right: 0; top: 2px; }
.website-custom-audience .website-custom-audience__table .pixel .pixel--viewer .pixel__textarea { padding-top: 5px; }
.website-custom-audience .website-custom-audience__table .pixel .pixel--viewer .pixel__textarea textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #c6c6c6; padding: 8px; resize: none; width: 100%; height: 125px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .traffic__td { padding-bottom: 15px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .hide-content { display: none; }
.website-custom-audience .website-custom-audience__table .traffic__tr .unvisited .text { font-size: 11px; color: #ababab; margin-left: 20px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table { margin-top: 5px; margin-bottom: -7px; width: 100%; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table th { font-size: 12px; color: #404040; width: 65px; text-align: right; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table td { padding-bottom: 0; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .custom-combination { font-size: 0; margin-left: 10px; position: relative; margin-bottom: 7px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .select2-selection__rendered { font-size: 13px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .url-wrap { display: inline-block; border: 1px solid #c6c6c6; margin-right: 7px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .url-wrap:before { content: ""; display: block; position: absolute; top: 5px; height: 16px; width: 1px; left: 101px; background-color: #c6c6c6; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .url-wrap .url-select { font-size: 13px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .url-wrap input[type="text"] { width: 178px; border: 0 none; height: 23px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .url-wrap .select2-selection { border: 0 none; height: 23px; }
.website-custom-audience .website-custom-audience__table .traffic__tr .custom-combination__table .remove__button { position: absolute; top: 7px; right: -17px; width: 13px; height: 13px; text-indent: -9999em; background-image: url("http://file.adwitt.tw/images_v1/button/btn_delete-afafaf-12x12.png"); background-repeat: no-repeat; }
.website-custom-audience .website-custom-audience__table .recent__tr input[type="text"] { width: 35px; text-align: center; margin-right: 5px; }
.website-custom-audience .website-custom-audience__table .recent__tr .past-traffic { display: inline-block; margin-left: 35px; line-height: 25px; }

.upload-pixel-other-accounts__popup { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #cbcbcb; box-sizing: border-box; padding: 20px 20px 30px 20px; z-index: 100; width: 600px; }
.upload-pixel-other-accounts__popup .popup-header { background-color: #3b5998; height: 45px; }
.upload-pixel-other-accounts__popup .popup-header h5 { color: #fff; font-size: 15px; line-height: 45px; padding: 0 20px; }
.upload-pixel-other-accounts__popup .popup-container { padding: 30px 15px; }
.upload-pixel-other-accounts__popup .popup-footer { border-top: 2px solid #3b5998; padding-top: 30px; text-align: center; }
.upload-pixel-other-accounts__popup .popup-footer button:nth-child(2) { margin-left: 10px; }
.upload-pixel-other-accounts__popup .btn-popup-close { background-image: url("http://file.adwitt.tw/images_v1/button/btn_popupclose-ffffff-13x13.png"); display: block; height: 13px; overflow: hidden; position: absolute; right: 38px; text-indent: -9999px; top: 37px; width: 13px; }
.upload-pixel-other-accounts__popup .desc { font-size: 13px; }
.upload-pixel-other-accounts__popup .table { margin-top: 20px; margin-bottom: 35px; }
.upload-pixel-other-accounts__popup .table input[type="text"] { width: 100%; }
.upload-pixel-other-accounts__popup .table table { width: 100%; }
.upload-pixel-other-accounts__popup .table th:nth-child(1), .upload-pixel-other-accounts__popup .table td:nth-child(1) { text-align: center; width: 45px; }
.upload-pixel-other-accounts__popup .table th:nth-child(2), .upload-pixel-other-accounts__popup .table td:nth-child(2) { width: 160px; }
.upload-pixel-other-accounts__popup .table th:nth-child(3), .upload-pixel-other-accounts__popup .table td:nth-child(3) { width: 323px; }
.upload-pixel-other-accounts__popup .table th { text-align: left; font-weight: 700; font-size: 14px; position: relative; height: 29px; background-color: #f2f2f2; }
.upload-pixel-other-accounts__popup .table th:nth-child(2) { color: #3b5998; }
.upload-pixel-other-accounts__popup .table th .total-selected__text { font-size: 13px; font-weight: 400; color: #b0b0b0; position: absolute; right: 15px; }
.upload-pixel-other-accounts__popup .table th .total-selected__text strong { display: inline-block; vertical-align: middle; border-radius: 8px; color: #fff; background-color: #3b5998; padding: 2px 5px; }
.upload-pixel-other-accounts__popup .table td { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; height: 30px; border-top: 1px solid #dadada; }
.upload-pixel-other-accounts__popup .table .thead { margin-top: 10px; }
.upload-pixel-other-accounts__popup .table .tbody { -webkit-box-shadow: 0 5px 0 #f2f2f2; -moz-box-shadow: 0 5px 0 #f2f2f2; box-shadow: 0 5px 0 #f2f2f2; max-height: 240px; position: relative; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; }
.upload-pixel-other-accounts__popup .table .tbody tr:first-child td { border-top: 0 none; }
.upload-pixel-other-accounts__popup .table .tbody td span { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; display: inline-block; vertical-align: middle; }
.upload-pixel-other-accounts__popup .table .tbody td:nth-child(2) span { width: 140px; }
.upload-pixel-other-accounts__popup .table .tbody td:nth-child(3) span { width: 300px; }
.upload-pixel-other-accounts__popup .terms-link__text { font-size: 13px; }
.upload-pixel-other-accounts__popup .terms-link__text a { text-decoration: underline; color: #3b5998; }
.upload-pixel-other-accounts__popup .popup-footer .btn-ok { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #3b5998; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }
.upload-pixel-other-accounts__popup .popup-footer .btn-cancel { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #ababab; border-radius: 12.5px; color: #fff; font-size: 15px; line-height: 25px; overflow: hidden; text-align: center; width: 100px; }

.view-custom-conversion.view-custom-audience-pixel { width: 956px; height: auto; }
.view-custom-conversion.view-custom-audience-pixel .popup-container { padding-bottom: 0; }
.view-custom-conversion.view-custom-audience-pixel .btn-plain, .view-custom-conversion.view-custom-audience-pixel .btn-active, .view-custom-conversion.view-custom-audience-pixel .btn-secondary { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #3b5998; border-radius: 10.5px; color: #fff; font-size: 12px; line-height: 21px; overflow: hidden; text-align: center; width: 164px; }
.view-custom-conversion.view-custom-audience-pixel .btn-plain { width: 70px; background-color: #404040; }
.view-custom-conversion.view-custom-audience-pixel .btn-secondary { width: 60px; background-color: #ababab; }
.view-custom-conversion.view-custom-audience-pixel .text { margin-bottom: 26px; line-height: 17px; }

.view-custom-conversion__nothing { padding: 30px 0; border: 2px solid #3b5998; border-width: 2px 0; color: #ababab; font-size: 13px; text-align: center; }
.view-custom-conversion__nothing .noti { margin-bottom: 7px; }
.view-custom-conversion .view-custom-conversion__table { margin-top: 20px; width: 100%; border: 2px solid #3b5998; border-width: 2px 0; }
.view-custom-conversion .view-custom-conversion__table th { border-bottom: 2px solid #3b5998; color: #3b5998; font-size: 12px; font-weight: bold; text-align: left; }
.view-custom-conversion .view-custom-conversion__table td { border-top: 1px solid #dadada; }
.view-custom-conversion .view-custom-conversion__table tbody tr:first-child td { border-top: 0; }
.view-custom-conversion .view-custom-conversion__table th, .view-custom-conversion .view-custom-conversion__table td { padding: 13px 0; }
.view-custom-conversion .state__text { line-height: 12px; }

.view-custom-conversion__period__title { display: inline-block; font-size: 15px; color: #3b5998; width: 79px; }
.view-custom-conversion__period .text-dash { padding: 0 5px; }
.view-custom-conversion__period .select2 { margin-left: 9px; margin-right: 12px; }
.view-custom-conversion__period .btn-active { margin-left: 3px; }
.view-custom-conversion__period input[type="text"][data-type="date"] { width: 200px; }

.view-custom-conversion__info { padding-top: 24px; color: #404040; }

.create-custom-conversion { width: 600px; height: auto; }
.create-custom-conversion label { background-color: transparent; box-sizing: border-box; cursor: pointer; display: inline-block; vertical-align: top; margin-left: 10px; line-height: 25px; height: 25px; }
.create-custom-conversion label:nth-of-type(1) { margin-left: 0; }
.create-custom-conversion input[type='checkbox'], .create-custom-conversion input[type='radio'] { display: none; }
.create-custom-conversion input[type='checkbox']:checked + label:after, .create-custom-conversion input[type='radio']:checked + label:after { background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-5f93ff-13x10.png"); }
.create-custom-conversion input[type='checkbox']:disabled + label:after, .create-custom-conversion input[type='radio']:disabled + label:after { background-image: url("http://file.adwitt.tw/images_v1/icon/icon_check-bcbcbc-13x10.png"); }
.create-custom-conversion input[type='checkbox'] + label, .create-custom-conversion input[type='radio'] + label { position: relative; padding-left: 16px; }
.create-custom-conversion input[type='checkbox'] + label:before, .create-custom-conversion input[type='radio'] + label:before { content: ''; display: inline-block; margin-top: -5px; position: absolute; top: 50%; vertical-align: top; left: 0; }
.create-custom-conversion input[type='checkbox'] + label:after, .create-custom-conversion input[type='radio'] + label:after { content: ''; display: block; height: 10px; position: absolute; width: 13px; left: 1px; top: 7px; }
.create-custom-conversion input[type='checkbox'] + label:before { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_checkbox-bcbcbc-11x11.png"); height: 11px; width: 11px; }
.create-custom-conversion input[type='radio'] + label:before { background-image: url("http://file.adwitt.tw/images_v1/bg/bg_radio-bcbcbc-13x13.png"); height: 13px; width: 13px; }
.create-custom-conversion .state__text { font-size: 13px; line-height: 12px; }
.create-custom-conversion .state__text::before { margin-right: 10px; }
.create-custom-conversion__pixel-id { padding-left: 3px; color: #9f9f9f; }
.create-custom-conversion .popup-footer .btn-success { background-color: #3b5998; }

.create-custom-conversion__info { margin-bottom: 10px; }
.create-custom-conversion__info::after { content: ""; display: table; clear: both; }
.create-custom-conversion__info__name { float: left; width: 23%; }
.create-custom-conversion__info__name label { font-size: 14px; font-weight: bold; color: #3b5998; vertical-align: middle; }
.create-custom-conversion__info__data { float: right; width: 77%; }
.create-custom-conversion__info__data input[type="text"] { width: 100%; }
.create-custom-conversion__info__data label { vertical-align: middle; }
.create-custom-conversion__info__data .row { min-height: 25px; line-height: 25px; }
.create-custom-conversion__info__data .row + .row { margin: 5px 0; }
.create-custom-conversion__info__data .select2 { margin-right: 4px; }
.create-custom-conversion__info.data-pixel { padding-top: 20px; border-top: 1px solid #dadada; }
.popup-container .create-custom-conversion__info:last-child { margin-bottom: 0; }

.create-custom-conversion__url-wrap + .create-custom-conversion__url-wrap { margin-top: 5px; }

.create-custom-conversion__url-wrap .url__group { display: inline-block; box-sizing: border-box; padding: 7px 10px 4px; width: 81%; border: 1px solid #c6c6c6; min-height: 36px; vertical-align: middle; }
.create-custom-conversion__url-wrap .url__source { position: relative; overflow: hidden; display: inline-block; box-sizing: border-box; padding-left: 8px; padding-right: 20px; white-space: nowrap; width: auto; max-width: 100%; text-overflow: ellipsis; background-color: #e4e4e4; line-height: 20px; border-radius: 10px; }
.create-custom-conversion__url-wrap .url__source button { position: absolute; top: 0; right: 0; padding: 1px 7px; color: #666666; }
.create-custom-conversion__url-wrap .url__source + .url__source { margin-top: 5px; }
.create-custom-conversion__url-wrap .url__btn-wrap { display: inline; }
.create-custom-conversion__url-wrap .url__btn-intersection { overflow: hidden; display: inline-block; margin-left: 10px; width: 21px; height: 21px; background: url("http://file.adwitt.tw/images_v1/button/btn-intersection.png") no-repeat 3px 3px; text-align: left; text-indent: -9999px; }
.create-custom-conversion__url-wrap .url__btn-intersection.active { margin-left: 7px; width: 43px; height: 25px; border: 1px solid #c6c6c6; border-radius: 12.5px; background: url("http://file.adwitt.tw/images_v1/button/btn-intersection-active.png") no-repeat 9px 5px; }

.create-custom-conversion__url-wrap.url-equals .url__group { width: 100%; }

.url__print__title { display: block; border-bottom: 1px solid #dadada; font-weight: bold; }
.url__print__title:first-child { color: #3b5998; }
.url__print__list { border-bottom: 1px solid #dadada; padding-left: 20px; list-style: circle; word-break: break-word; line-height: 1.3; }
.url__print__list li { margin: 5px 0; }

.create-custom-conversion__print-category { font-size: 13px; }

/*# sourceMappingURL=listConversionTracking.css.map */
