@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", "돋움", Dotum, Tahoma, Sans-serif;
}

input, button {
  font-family: "Roboto Condensed", "Nanum Barun Gothic", "맑은 고딕", "돋움", Dotum, Tahoma, Sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #c6c6c6;
  height: 25px;
  font-size: 14px;
  padding: 4px 7px;
}

input[type="search"] {
  padding-right: 28px;
  background: url("http://file.adwitt.tw/images_v1/icon/icon_search-b7b7b7-16x15.png") no-repeat right 7px top 50%;
}

.wrap {
  min-height: 100%;
  height: 100%;
  min-width: 1440px;
}

.login-wrap {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #3b5998;
}
.login-wrap .logo {
  position: absolute;
  left: 35px;
  top: 25px;
}
.login-wrap .login-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 490px;
  background-color: #fff;
  padding: 10px 10px 14px;
}
.login-wrap .login-page__header {
  background-color: #3b5998;
}
.login-wrap .login-page__header h2 {
  color: #fff;
  line-height: 45px;
  text-indent: 15px;
  font-size: 17px;
}
.login-wrap .login-page__container {
  padding: 50px;
  border-bottom: 2px solid #e4e4e4;
}
.login-wrap .login-page__footer {
  margin-top: 15px;
  text-align: center;
}
.login-wrap .input-box {
  font-sizE: 0;
}
.login-wrap .input-box label {
  font-size: 15px;
  color: #3b5998;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
}
.login-wrap .input-box input {
  width: 292px;
}
.login-wrap .input-box:first-child {
  margin-bottom: 6px;
}
.login-wrap .link-forgot-password {
  margin-left: 75px;
  margin-top: 10px;
}
.login-wrap .link-forgot-password a {
  color: #404040;
  border-bottom: 1px solid #696969;
}
.login-wrap .btn-login {
  width: 100px;
  height: 25px;
  font-size: 15px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 12.5px;
}