select::-ms-expand{
  display:none;
}
.btn-gray {
  background: #777777;
  color: #fff;
  border: 1px solid #777777;
}
.ajax-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(http://file.adwitt.tw/imgs/common/bg/bg-dim.png) repeat 0 0;
}
.ajax-loading img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -62px;
	margin-left: -84px;
}

.ajax-loading-box {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(http://file.adwitt.tw/imgs/common/bg/bg-dim.png) repeat 0 0;
}

.ajax-loading-box img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(http://file.adwitt.tw/imgs/common/bg/bg-dim.png) repeat 0 0;
}

.btn-gray:hover {
  background-color: #919191;
  border: 1px solid #919191;
}

.btn-gray:active, .btn-gray.active {
  background-color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.btn-white {
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 100%);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.05);
  text-shadow: 0px 1px #fff;
  color: #777;
  border: 1px solid #ccc;
}
.btn-white:active {
  background: #eee;
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  color: #777;
}

.btn-tiny {
  padding: 4px 8px;
}

.data-wrap {
  display:none;
  position: relative;
  min-width: 1200px;  
  margin-top : 10px;  
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.data-wrap:first-child {	
}
.data-wrap .data-heading {
  position: relative;
  height: 45px;
  background-color: #3b5998;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  line-height: 45px;
  padding-left: 20px;  
}
.data-wrap .data-heading .fa {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid #5A72A4;
  margin-right: 10px;
}
.data-wrap .btn_view_campaigns {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 140px;
  z-index: 10;
}
.data-wrap .btn_view_campaigns a {
  display: block;
  padding: 5px 0;
  border-radius: 13px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 12px;  
  line-height: 12px;
}
.data-wrap .btn_view_campaigns .fa {
  border: 0;
  padding: 0;
}
/* 
.data-wrap .no-data-heading {
  position: relative;
  height: 45px;
  background-color: #cdcdcd;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  line-height: 45px;
  padding-left: 20px;  
}
.data-wrap .no-data-heading .btn_unroll {
  position: absolute;
  top: 14px;
  right: 20px;
}
 */

.data-wrap .data-content {
  padding: 10px 40px;
  background-color: #fff;
}
.data-wrap .data-content .graph-wrap {
  padding: 20px 0 0;
}
.data-wrap .data-content .graph-wrap .left-col {
  width: 25%;
  float: left;
}
.data-wrap .data-content .graph-wrap .left-col .fa {
  margin-left : 5px;
  cursor : help;
}
.data-wrap .data-content .graph-wrap .left-col .status-text {
  width: 80%;
  color: #2c4987;
  overflow: hidden;
}
.data-wrap .data-content .graph-wrap .left-col .status-text dt {
  float: left;
  font-size: 12px;
  margin-top: 7px;
  clear: both;
  color: #404040;
}
.data-wrap .data-content .graph-wrap .left-col .status-text dd {
  float: right;
  font-size: 22px;
  font-weight: bold;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap {
  padding-top: 14px;
  background: url(http://file.adwitt.tw/imgs/common/icon/money.png) no-repeat right top;
  margin-right: 30px;
  margin-top: 20px;
  width : 80%;
  overflow: hidden;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  height: 14px;
  width: 100%;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  margin-top: 4px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar .spend-money {
  float: left;
  background-color: #3b5998;
  width: 50%;
  height: 100%;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .progressive-bar .remain-money {
  float: left;
  width: 50%;
  height: 100%;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text,
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text {
  color: #2c4987;
  font-size: 11px;
  margin-top: 5px;
  line-height: 13px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text span,
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text span {
  display: inline-block;
  width: 16px;
  height: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  vertical-align: top;
  margin-right: 5px;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text {
  float: left;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .spend-text span {
  background-color: #2c4987;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text {
  float: right;
}
.data-wrap .data-content .graph-wrap .left-col .progressive-bar-wrap .remain-text span {
  border: 1px solid #c0c0c0;
}
.data-wrap .data-content .graph-wrap .left-col .dashboard_select, .data-wrap .data-content .graph-wrap .left-col .show-detail {
  margin: 20px auto 0;
  padding: 0px 0 0 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 15px; 
  border: 0; 
  background-color: #3b5998;
  background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-bot-white.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  color: #fff;
  line-height: 28px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  cursor:pointer;
}
.data-wrap .data-content .graph-wrap .left-col .dashboard_select{
	margin-top:0;
	width:80%;
}
.data-wrap .data-content .graph-wrap .left-col .dashboard-list{
	position: absolute;
	left:4%;
	top:28px;
	width:72%;
	box-sizing:border-box;
	z-index:10;
	
}
.data-wrap .data-content .graph-wrap .left-col .dashboard-list li{
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  width: 100%;
  height: 28px;
  box-sizing:border-box;
  padding-left:0;
  padding-right: 0;

}
.data-wrap .data-content .graph-wrap .left-col .dashboard-list li a {
  background-color: #fff;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 28px;
  color: #404040;
  box-sizing:border-box;
}
.data-wrap .data-content .graph-wrap .left-col .dashboard-list li a:hover {
  background-color: #dde3f0;
}

.data-wrap .data-content .graph-wrap .left-col .dashboard-pageLikes{
	position: relative;
	margin-top:20px;

}
.data-wrap .data-content .graph-wrap .left-col .dashboard_select.active {
	background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-top.png);
}
.data-wrap .data-content .graph-wrap .left-col .show-detail.active{
	background-image: url(http://file.adwitt.tw/images_v1/icon/icon-arrow-top.png);
}



.data-wrap .data-content .graph-wrap .right-col {
  float: left;
  width: 75%;
}
.data-wrap .data-content .graph-wrap .right-col .top-row {
  position: relative;
}
.data-wrap .data-content .graph-wrap .right-col .top-row .show-detail {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.data-wrap .data-content .graph-wrap .right-col .top-bot {
  display: none;
}
.data-wrap .data-content .table-wrap {
  position: relative;
}
.data-wrap .data-content .table-wrap .table-heading {
  color: #2c4987;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.data-wrap .data-content .table-wrap .table-content {
  display: none;
}
.data-wrap .data-content .table-wrap .table-content .edit-columns {
  text-align: right;
  margin-top: 10px;
  height: 40px;
}
.data-wrap .data-content .table-wrap .table-content .edit-columns .btn-edit-columns {
  margin-right: 10px;
  padding: 3px 25px;
  border-radius: 15px;
  background: #404040;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.data-wrap .data-content .table-wrap .table-content table {
  width: 100%;
  text-align: center;
}
.data-wrap .data-content .table-wrap .table-content table th, .data-wrap .data-content .table-wrap .table-content table td {
  border-bottom: 1px solid #c1c1c1;
  height: 34px;
}
.data-wrap .data-content .table-wrap .table-content table th {
  border-top: 2px solid #3b5998;
  border-bottom: 2px solid #3b5998;
  color: #3b5998;
}
.data-wrap .data-content .table-wrap .table-content table td {
  color: #777;
}

.progressive-bar{
	cursor: pointer;	
}

#rpl_div_table,#reg_div_table,#rcw_div_table,#rap_div_table{
	text-align: center;
	padding: 0 40px;
}
.left-col ul li {
	padding: 0 10px;
	cursor: pointer;
}
.left-col ul li.active {
	background-color : #d8deea;
}
/*
.right-col .inner ul li label{
	display: block;
}
*/

/* pl */
.pl_editPopup {
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 40px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.pl_editPopup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.pl_editPopup a {
  color : #333;
}
.pl_editPopup .popup-heading {
  position: relative;
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.pl_editPopup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.pl_editPopup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 0;
  cursor: pointer;
}
.pl_editPopup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.pl_editPopup .popup-content .left-col {
  float: left;
  width: 199px;
}
.pl_editPopup .popup-content .left-col ul {
  margin: 20px 0;
}
.pl_editPopup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.pl_editPopup .popup-content .right-col {
  width: 330px;
  float: left;
}
.pl_editPopup .popup-content .right-col li.active {
	background: #ebebeb;
}
.pl_editPopup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.pl_editPopup .popup-content .right-col .inner {
  height: 170px;
  margin: 20px 10px;
  overflow: auto;
}
.pl_editPopup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}

/* eg */
.eg_editPopup {
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 40px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.eg_editPopup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.eg_editPopup a {
  color : #333;
}
.eg_editPopup .popup-heading {
  position: relative;
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.eg_editPopup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.eg_editPopup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.eg_editPopup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.eg_editPopup .popup-content .left-col {
  float: left;
  width: 199px;
}
.eg_editPopup .popup-content .left-col ul {
  margin: 20px 0;
}
.eg_editPopup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.eg_editPopup .popup-content .right-col {
  width: 330px;
  float: left;
}
.eg_editPopup .popup-content .right-col li.active {
	background: #ebebeb;
}
.eg_editPopup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.eg_editPopup .popup-content .right-col .inner {
  height: 170px;
  margin: 20px 10px;
  overflow: auto;
}
.eg_editPopup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}

/* cw */
.cw_editPopup {
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 40px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.cw_editPopup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.cw_editPopup a {
  color : #333;
}
.cw_editPopup .popup-heading {
  position: relative;
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.cw_editPopup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.cw_editPopup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cw_editPopup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.cw_editPopup .popup-content .left-col {
  float: left;
  width: 199px;
}
.cw_editPopup .popup-content .left-col ul {
  margin: 20px 0;
}
.cw_editPopup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.cw_editPopup .popup-content .right-col {
  width: 330px;
  float: left;
}
.cw_editPopup .popup-content .right-col li.active {
	background: #ebebeb;
}
.cw_editPopup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.cw_editPopup .popup-content .right-col .inner {
  height: 170px;
  margin: 20px 10px;
  overflow: auto;
}
.cw_editPopup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}

/* ap */
.ap_editPopup {
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 40px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.ap_editPopup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 50px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.ap_editPopup a {
  color : #333;
}
.ap_editPopup .popup-heading {
  position: relative;
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.ap_editPopup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.ap_editPopup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.ap_editPopup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.ap_editPopup .popup-content .left-col {
  float: left;
  width: 199px;
}
.ap_editPopup .popup-content .left-col ul {
  margin: 20px 0;
}
.ap_editPopup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.ap_editPopup .popup-content .right-col {
  width: 330px;
  float: left;
}
.ap_editPopup .popup-content .right-col li.active {
	background: #ebebeb;
}
.ap_editPopup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.ap_editPopup .popup-content .right-col .inner {
  height: 170px;
  margin: 20px 10px;
  overflow: auto;
}
.ap_editPopup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}


.dim-popup {
  background: url(http://file.adwitt.tw/imgs/common/bg/bg-dim.png) repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.hide-td{
	display:none;
}


/* rpl */

.rpl_data-popup {
  position: absolute;
  z-index: 9999;
  right: 190px;
  top: 117px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.rpl_data-popup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 70px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.rpl_data-popup a{
	color: #333;
}
.rpl_data-popup .popup-heading {
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.rpl_data-popup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.rpl_data-popup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.rpl_data-popup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.rpl_data-popup .popup-content .left-col {
  float: left;
  width: 199px;
}
.rpl_data-popup .popup-content .left-col ul {
  margin: 20px 0;
}
.rpl_data-popup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rpl_data-popup .popup-content .right-col {
  width: 330px;
  float: left;
}
.rpl_data-popup .popup-content .right-col li.active {
	background: #ebebeb;
}
.rpl_data-popup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rpl_data-popup .popup-content .right-col .inner {
  height: 280px;
  margin: 20px 10px;
  overflow: auto;
}
.rpl_data-popup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}

/* reg */
.reg_data-popup {
  position: absolute;
  z-index: 9999;
  right: 190px;
  top: 117px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.reg_data-popup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 70px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.reg_data-popup a{
	color: #333;
}
.reg_data-popup .popup-heading {
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.reg_data-popup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.reg_data-popup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.reg_data-popup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.reg_data-popup .popup-content .left-col {
  float: left;
  width: 199px;
}
.reg_data-popup .popup-content .left-col ul {
  margin: 20px 0;
}
.reg_data-popup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.reg_data-popup .popup-content .right-col {
  width: 330px;
  float: left;
}
.reg_data-popup .popup-content .right-col li.active {
	background: #ebebeb;
}
.reg_data-popup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.reg_data-popup .popup-content .right-col .inner {
  height: 280px;
  margin: 20px 10px;
  overflow: auto;
}
.reg_data-popup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}



/* rcw */
.rcw_data-popup {
  position: absolute;
  z-index: 9999;
  right: 190px;
  top: 117px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.rcw_data-popup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 70px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.rcw_data-popup a{
	color: #333;
}
.rcw_data-popup .popup-heading {
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.rcw_data-popup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.rcw_data-popup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.rcw_data-popup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.rcw_data-popup .popup-content .left-col {
  float: left;
  width: 199px;
}
.rcw_data-popup .popup-content .left-col ul {
  margin: 20px 0;
}
.rcw_data-popup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rcw_data-popup .popup-content .right-col {
  width: 330px;
  float: left;
}
.rcw_data-popup .popup-content .right-col li.active {
	background: #ebebeb;
}
.rcw_data-popup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rcw_data-popup .popup-content .right-col .inner {
  height: 280px;
  margin: 20px 10px;
  overflow: auto;
}
.rcw_data-popup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}


/* rap */
.rap_data-popup {
  position: absolute;
  z-index: 9999;
  right: 190px;
  top: 117px;
  border: 1px solid #bcbcbc;
  background: #fff;
}
.rap_data-popup:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 70px;
  width: 10px;
  height: 10px;
  background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}
.rap_data-popup a{
	color: #333;
}
.rap_data-popup .popup-heading {
  height: 30px;
  background-color: #3b5998;
  color: #fff;
  margin: 10px;
  padding-left: 10px;
  line-height: 28px;
}
.rap_data-popup .popup-heading h2 {
  font-size: 14px;
  font-weight: bold;
}
.rap_data-popup .popup-heading .popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.rap_data-popup .popup-content {
  margin: 10px 20px;
  border-bottom: 2px solid #3b5998;
  line-height: 24px;
  overflow: hidden;
}
.rap_data-popup .popup-content .left-col {
  float: left;
  width: 199px;
}
.rap_data-popup .popup-content .left-col ul {
  margin: 20px 0;
}
.rap_data-popup .popup-content .left-col h3 {
  border-bottom: 2px solid #3b5998;
  padding: 5px 2px;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rap_data-popup .popup-content .right-col {
  width: 330px;
  float: left;
}
.rap_data-popup .popup-content .right-col li.active {
	background: #ebebeb;
}
.rap_data-popup .popup-content .right-col h3 {
  padding: 5px 2px 5px 10px;
  border-bottom: 2px solid #3b5998;
  font-size: 13px;
  font-weight: bold;
  color: #3b5998;
}
.rap_data-popup .popup-content .right-col .inner {
  height: 280px;
  margin: 20px 10px;
  overflow: auto;
}
.rap_data-popup .button-wrap {
  text-align: center;
  padding: 10px 5px 20px 0;
}




#rpl_table td {
	border-bottom : 1px solid #c1c1c1;
	font-size: 12px;
	color: #777;
	text-align: center;
	height: 33px;
}


#reg_table td {
	border-bottom : 1px solid #c1c1c1;
	font-size: 12px;
	color: #777;
	text-align: center;
	height: 33px;
}


#rcw_table td {
	border-bottom : 1px solid #c1c1c1;
	font-size: 12px;
	color: #777;
	text-align: center;
	height: 33px;
}


#rap_table td {
	border-bottom : 1px solid #c1c1c1;
	font-size: 12px;
	color: #777;
	text-align: center;
	height: 33px;
}

.dataTable tbody tr:hover {
	background-color: #f2f2f2;
}


.text-check-number {
  display: inline-block;
  float: right;
  height: 15px;
  width: 15px;
  font-size: 11px;
  background-color: #d2d2d2;
  color: #fff;
  line-height: 15px;
  margin: 5px 5px 0 0;
  border-radius: 10px;
  text-align: center;
}
.text-check-number.active {
  background-color: #fff;
  color: #3b5998;
}
.setting-tooltip {
	display: none;
	position: absolute;
	text-align: left;
	background-color: #fff;
	color: #777;
	padding: 20px 15px;
	border: 1px solid #8c8c8c;
	z-index: 1;
	font-size: 12px;
	top: 0;
	left: 0;
	font-weight: normal;
	width: 321px;
}

.setting-tooltip dt {
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}

.setting-tooltip dd {
	line-height: 15px;
}

.setting-tooltip .input-wrap {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 5px 0;
	line-height: 21px;
	margin-top: 10px;
}

.setting-tooltip .setting-tooltip-arrow {
	position: absolute;
	left: 280px;
	bottom: -11px;
}

.setting-tooltip .top {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
}

.setting-tooltip .bot {
	padding-top: 5px;
}

.btn-tiny {
	padding: 4px 8px;
}

.btn-blue {
	background: #3b5998;
	color: #fff;
	border: 1px solid #3b5998;
	border-radius: 25px;
}

.btn-blue:hover {
	background-color: #4c70ba;
	border: 1px solid #4c70ba;
}

.btn-blue:active,.btn-blue.active {
	background-color: #2d4373;
	border: 1px solid #2d4373;
}

.btn-gray {
	background: #777777;
	color: #fff;
	border: 1px solid #777777;
}

.btn-gray:hover {
	background-color: #919191;
	border: 1px solid #919191;
}

.btn-gray:active,.btn-gray.active {
	background-color: #5e5e5e;
	border: 1px solid #5e5e5e;
}

.btn-align-center {
	text-align: center;
}

.setting-tooltip .btn-align-center {
	margin-top: 10px;
}

.performance-data-table {
	position: relative;
	margin-top: 10px;
	background: #fff;
	box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.performance-data-table .data-heading {
	background-color: #3b5998;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
}

.performance-data-table .btn-align-right {
	text-align: right;
}

.performance-data-table .btn-align-right .my_col_btn,.performance-data-table .btn-align-right .export_btn,.performance-data-table .btn-align-right .edit_col_btn,.performance-data-table .btn-align-right .save_col_btn
	{
	background-color: #bdc3c7;
	padding: 4px 8px;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
}

.performance-data-table table {
	border: 0;
}

.performance-data-table .data-heading {
	position: relative;
	height: 45px;
	padding-left: 20px;
	background-color: #3b5998;
	color: #fff;
	font-size: 17px;
	line-height: 45px;	
}

.performance-data-table .btn-align-right {
	text-align: right;
	padding: 20px 40px;
}

.performance-data-table .btn-align-right .my_col_btn,.performance-data-table .btn-align-right .export_btn,.performance-data-table .btn-align-right .edit_col_btn,.performance-data-table .btn-align-right .save_col_btn
	{
	background-color: #404040;
	padding: 4px 40px;
	border: 0 none;
	border-radius: 20px;
	color: #fff;
}


.rpl_save-popup {
	width: 440px;
	position: absolute;
	background-color: #fff;
	border: 1px solid #bcbcbc;
}

.rpl_save-popup:after {
	content: "";
	position: absolute;
	top: -10px;
	right: 70px;
	width: 10px;
	height: 10px;
	background: url(http://file.adwitt.tw/images_v1/bg/arrow-top.png) no-repeat;
}

.rpl_save-popup .popup-heading {
	height: 30px;
	margin: 10px;	
	padding-left: 10px;
	background-color: #3b5998;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
}

.rpl_save-popup .popup-content {
	padding: 20px;
	line-height: 18px;
}

.rpl_save-popup .button-wrap {
	text-align: right;
	padding: 20px;
}

.rpl_save-popup .button-wrap input[type='text'] {
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
}

.btn-large {
	padding: 2px 17px;
	font-size: 11px;
	text-transform: uppercase;
}

.popup-columns-download {
	position: absolute;
	left: 100px;
	width: 180px;
	border: 1px solid #666;
}

.popup-columns-download .fa-check {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	color: #666;
}

.popup-columns-download .btn-delete2 {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}

.popup-columns-download li {
	position: relative;
	border-top: 1px solid #ccc;
}

.popup-columns-download li:first-child {
	border-top: 0 none;
}

.popup-columns-download li:hover a {
	color: #fff;
	background-color: #3b5998;
}

.popup-columns-download li:hover .btn-delete2 {
	display: block;
	color: #fff;
}

.popup-columns-download li:hover .fa-check {
	color: #fff;
}

.popup-columns-download li.active .fa-check {
	display: block;
}

.popup-columns-download li a {
	color: #666;
	display: block;
	padding: 10px 20px 10px 30px;
	background-color: #fff;
	font-weight: bold;
}
.alert-popup {
	width: 440px;
	position: absolute;
	background-color: #fff;
	border: 7px solid rgb(59, 89, 152);
}
.alert-popup .popup-content {
	padding: 20px;
	line-height: 18px;
}
.alert-popup .button-wrap {
	text-align: right;
	padding: 20px;
}