.use_audience_library {
		display: block;
    height: 18px;
    overflow: hidden;
    position: absolute;
    left: 200px;
    top: 37px;
    width: 660px;
}
.use_audience {
    box-sizing: border-box;
    border-radius: 12.5px;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
    width: 44px;
    margin-left: 10px;
    line-height:18px;
    vertical-align:top;
}
.use_audience.active{
	background-color:#fff;
	color:#3b5998;
	width:35px;
	border-radius:10px;
	height:18px;
  display: inline-block;
  line-height:18px;

}
.use_audience.active button{
	height:15px;
	width:15px;
	background-image: url(../images_v1/button/btn-delete-normal-gray.png);
	margin-left:3px;
	background-repeat:no-repeat;
	vertical-align:middle;
	text-indent:-9999em;
}